{% extends "base.html" -%}

{% block main -%}
<div class="container text-white mb-4">
  <div class="row mb-3">
    <div class="col">
      <h2>IX IPC management area</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h4><a class="white-link" href="{{ url_for('IX_IPC.participants_list') }}">Participants</a></h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h4><a class="white-link" href="{{ url_for('IX_IPC.abstracts_list') }}">Abstracts</a></h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h4><a class="white-link" href="{{ url_for('IX_IPC.dinner_list') }}">Dinner</a></h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h4><a class="white-link" href="{{ url_for('IX_IPC.registrations') }}">Registrations</a></h4>
    </div>
  </div>

  <div class="row mb-3 mt-5">
    <div class="col">
      <h4><a class="white-link" href="{{ url_for('IX_IPC.IXIPC') }}">IX IPC website</a></h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <form action="{{ url_for('IX_IPC.management_logout') }}" method="get">
        <input type="submit" id="logout" class="btn btn-primary" value="Logout">
      </form>
    </div>
  </div>
</div>
{% endblock -%}