.venv/
.env*
*.db
nginx*

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.pem

uploaded_files/
.vscode
random_content
tests
old_know_hosts
sqlite3.exe
static/js
backups/
temp/*.jpg
temp/abstracts/*
temp/email/*
assinatura.png