    <nav class="navbar navbar-expand-lg bg-dark align-items-end">
      <div class="container-fluid navbar-app">
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav px-1">
            {% for link in g.links -%}
            <a class="nav-link list-group-item list-group-item-action list-group-item-light {{ 'active' if link.active }}" href="{{ link.url }}">
              {% if link.name == 'APP' -%}
                <img src="{{ url_for('static', filename='img/logo_100x100.jpg') }}" class="logo" alt="APP logo" style="height: 40px;">
              {% endif -%}
              {{link.name}}
            </a>
            {% endfor -%}
          </ul>
        </div>
      </div>
    </nav>