    <nav class="navbar navbar-expand-lg bg-dark align-items-end">
      <div class="container-fluid navbar-app">
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav px-1">
            {% for link in g.links -%}
            <a class="nav-link list-group-item list-group-item-action list-group-item-light {{ 'active' if link.active }} {{ 'navlink-highlight' if link.name == 'link-events' }}" href="{{ url_for(link.url, language=lang) }}">
              {% if link.name == 'link-app' -%}
                <img src="{{ url_for('static', filename='img/logo_100x100.jpg') }}" class="logo" alt="APP logo" style="height: 40px;">
              {% endif -%}
              {{link.name | l10n(lang)}}
            </a>
            {% endfor -%}
          </ul>
        </div>
        {% for link in g.links -%}
        {% if link.active -%}
        <div class="language-switch">
          <a href="{{ url_for(link.url, language='pt', data=link.data) }}" class="{{'selected-language' if lang == 'pt'}}">PT</a>
          /
          <a href="{{ url_for(link.url, language='en', data=link.data) }}" class="{{'selected-language' if lang == 'en'}}">EN</a>
        </div>
        {% endif -%}
        {% endfor -%}
      </div>
    </nav>