<script defer>
  class Author {
    firstName = ''
    lastName = ''
    id = null
    presenter = false
    
    static async createNew() {
      let newAuthor = new Author();
      
      return fetch("{{ url_for('IX_IPC.new_author') }}", {
        method: 'POST',
        body: blankForm()
      })
      .then((response) => response.json())
      .then((data) => {
        newAuthor.id = data.id;
        return newAuthor
      })
    }

    static fromDatabase(author) {
      let newAuthor = new Author();
      newAuthor.firstName = author.firstName;
      newAuthor.lastName = author.lastName;
      newAuthor.id = author.id;
      newAuthor.presenter = author.presenter;
      return newAuthor;
    }
  }

  const authorsManager = async () => {
    let editAuthorsForm = document.getElementById('accordion-authors');
    let authorsToSave = {};

    const authorFullname = (author) => {
      let fullName = author.firstName + ' ' + author.lastName;
      if(fullName === ' ') {
        fullName = "{{'IXIPC-no-name'|l10n(lang)}}";
      }
      return fullName;
    }

    // Register callbacks so other objects can be alerted when updates happen 
    let updateCallbacks = [];
    const onupdate = (func) => {
      updateCallbacks.push(func);
    };
    
    // Save authors
    const saveAuthors = () => {
      if(Object.keys(authorsToSave).length > 0) {
        let form = blankForm();
        form.append('authors', JSON.stringify(authorsToSave));

        for(const id in authorsToSave) {
          let elem = document.getElementById('author-saved-' + String(id));
          elem.innerHTML = "{{ 'IXIPC-saved-author'|l10n(lang) }}";
          elem.classList.add('bg-primary');
          setTimeout(() => {
            elem.innerHTML = '&nbsp;';
            elem.classList.remove('bg-primary');
          }, warningTimeout);
        }

        authorsToSave = {};

        fetch("{{ url_for('IX_IPC.save_authors') }}", {
          method: 'POST',
          body: form
        })
        .catch((e) => console.log(e));
      }
    }

    // Schedule authors saving
    const scheduleAuthorsSave = (id=null, author=null) => {
      if(id && author) authorsToSave[id] = author;
      setTimeout(saveAuthors, saveTimeout);
    }

    // Proxy to authors that allows us to intercept any changes in order to 
    // display or save them
    let _authors = {};
    let authors = new Proxy(_authors, {
      deleteProperty: function(target, property) {
        let id = target[property].id;
        return Reflect.deleteProperty(...arguments);
      },
      // If an author is created or modified, save the changes to the 
      // database and update the corresponding abstracts
      set: function(target, property, author, receiver) {
        target[property] = author;

        // If property is an index
        if(isInteger(property)) {
          scheduleAuthorsSave(author.id, author);

          for(const callback of updateCallbacks) {
            callback(author);
          }
        }
        return true;
      }
    });

    const authorFullnameById = (authorId) => {
      return authorFullname(_authors[authorId]);
    }

    // Updates an author
    const updateAuthor = (target) => () => {
      const id = target.dataset.id;
      let author = authors[id];
      
      author.firstName = target.querySelector('#first-name-' + String(id)).value;
      author.lastName = target.querySelector('#last-name-' + String(id)).value;

      target.querySelector('#author-header-' + String(id)).innerHTML = authorFullname(author);
      authors[id] = author;
    };

    const newAuthor = async () => {
      let newAuthor = await Author.createNew();

      let authorElement = editAuthorsForm.appendChild(
        authorHTMLElement(newAuthor)
      );
      authors[newAuthor.id] = newAuthor;
      updateAuthor(authorElement)();
    };

    // Create a new html element to edit the author
    const authorHTMLElement = (author) => {
      let authorForm = document.createElement('div');
      authorForm.dataset.id = author.id;
      authorForm.classList.add('accordion-item');
      
      // Header
      let header = document.createElement('h2');
      header.classList.add('accordion-header');
      header.innerHTML = `<button id="author-header-${author.id}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#author-edit-${author.id}" aria-expanded="false" aria-controls="author-edit-${author.id}"></button>`
      authorForm.appendChild(header);

      // Main tab
      const firstNameLabel = "{{ 'IXIPC-personal-data-first-name'|l10n(lang) }}";
      const lastNameLabel = "{{ 'IXIPC-personal-data-last-name'|l10n(lang) }}";

      let main = document.createElement('div');
      main.id = 'author-edit-' + String(author.id);
      main.classList.add('accordion-collapse', 'collapse');
      main.dataset.bsParent = "#accordion-authors";

      let accordionBody = document.createElement('div');
      accordionBody.classList.add('accordion-body');
      let form = document.createElement('form');
      form.setAttribute('action', '');

      let row1 = document.createElement('div');
      row1.classList.add('row', 'mb-3');

      // First name
      let col11 = document.createElement('div');
      col11.classList.add('col');

      let label11 = document.createElement('label');
      label11.setAttribute('for', 'first-name-' + String(author.id));
      label11.classList.add('form-label');
      label11.innerHTML = firstNameLabel;

      let input11 = document.createElement('input');
      input11.id = 'first-name-' + String(author.id)
      input11.setAttribute('type', 'text');
      input11.classList.add('form-control');
      input11.value = author.firstName;

      col11.appendChild(label11);
      col11.appendChild(input11);

      // Last name
      let col12 = document.createElement('div');
      col12.classList.add('col');
      let label12 = document.createElement('label');
      label12.setAttribute('for', 'last-name-' + String(author.id));
      label12.classList.add('form-label');
      label12.innerHTML = lastNameLabel;

      let input12 = document.createElement('input');
      input12.id = 'last-name-' + String(author.id)
      input12.setAttribute('type', 'text');
      input12.classList.add('form-control');
      input12.value = author.lastName;

      col12.appendChild(label12);
      col12.appendChild(input12);

      row1.appendChild(col11);
      row1.appendChild(col12);

      form.appendChild(row1);

      // Affiliations
      let row2 = document.createElement('div');
      row2.classList.add('row', 'mb-4');

      let col21 = document.createElement('div');
      col21.classList.add('col-6', 'px-2');

      let label21 = document.createElement('label');
      label21.setAttribute('for', 'selected-institutions-' + String(author.id));
      label21.classList.add('form-label');
      label21.innerHTML = "{{ 'IXIPC-abstract-institutions-select'|l10n(lang) }}";

      let selectedBox = document.createElement('div');
      selectedBox.classList.add('authors-box', 'rounded-1', 'p-1', 'h-100');
      selectedBox.id = 'selected-institutions-' + String(author.id);

      col21.appendChild(label21);
      col21.appendChild(selectedBox);

      let col22 = document.createElement('div');
      col22.classList.add('col-6', 'px-2');

      let label22 = document.createElement('label');
      label22.setAttribute('for', 'available-institutions-' + String(author.id));
      label22.classList.add('form-label');
      label22.innerHTML = "{{ 'IXIPC-abstract-institutions-available'|l10n(lang) }}";

      let availableBox = document.createElement('div');
      availableBox.classList.add('authors-box', 'rounded-1', 'p-1', 'h-100');
      availableBox.id = 'available-institutions-' + String(author.id);
      availableBox.dataset.initiated = 0;

      col22.appendChild(label22);
      col22.appendChild(availableBox);

      row2.appendChild(col21);
      row2.appendChild(col22);
      form.appendChild(row2);

      // Instructions
      let row3 = document.createElement('div');
      row3.classList.add('row', 'mb-3');

      let col3 = document.createElement('div');
      col3.classList.add('col');

      let instructions = document.createElement('div');
      instructions.classList.add('form-text');
      instructions.innerHTML = `{{'IXIPC-abstract-institutions-drag-and-drop'|l10n(lang)}}`;

      col3.appendChild(instructions);
      row3.appendChild(col3);
      form.appendChild(row3);

      // Feedback display
      let feedbackDisplay = document.createElement('div');
      feedbackDisplay.classList.add('w-100', 'card-footer', 'abstract-footer-text', 'text-white', 'text-center', 'p-0');
      feedbackDisplay.id = 'author-saved-' + String(author.id)
      feedbackDisplay.innerHTML = '&nbsp;'

      form.appendChild(feedbackDisplay);

      accordionBody.appendChild(form);
      main.appendChild(accordionBody);
      authorForm.appendChild(main);
  
      authorForm.addEventListener(
        'input',
        updateAuthor(authorForm)
      );
  
      return authorForm;
    };

    // Load available authors from database
    await fetch("{{ url_for('IX_IPC.load_authors') }}", {
      method: 'POST',
      body: blankForm()
    })
    .then((response) => response.json())
    .then((data) => {
      for(let author of data.authors) {
        authors[author.id] = Author.fromDatabase(author);
        let authorElement = editAuthorsForm.appendChild(
          authorHTMLElement(authors[author.id])
        );
        updateAuthor(authorElement)();
      }
      authorsToSave = {};
    })
    .catch((e) => console.log(e));
    
    // Add functionality to the new author button
    document.getElementById('new-author-button').addEventListener(
      'click',
      newAuthor
    );
    
    return {
      'list': authors,
      'keys': () => Object.keys(authors),
      'scheduleSave': scheduleAuthorsSave,
      'fullName': authorFullnameById,
      'onUpdate': onupdate
    }
  }
</script>