<script>
  //////////////////////////////////////////////////////////////////////////
  // Utilities
  const saveTimeout = 3000;
  const warningTimeout = 4000;
  //////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////
  // Utilities
  const blankForm = () => {
    let form = new FormData();
    form.append('csrf_token', '{{ csrf_token() }}');
    return form;
  }

  function isInteger(value) {
    return !isNaN(parseInt(value)) && isFinite(value);
  }
  //////////////////////////////////////////////////////////////////////////

  const authorsManager = () => {
    let editAuthorsForm = document.getElementById('accordion-authors');

    let institutions = {};
    let affiliationsToSave = {};
    let scheduleAffiliationsSave = null;

    const registerInstitutions = (insts) => {
      scheduleAffiliationsSave = insts.scheduleAffiliationsSave;
      institutions = insts.list;
    }

    const authorFullname = (author) => {
      let fullName = author.firstName + ' ' + author.lastName;
      if(fullName === ' ') {
        fullName = "{{'IXIPC-no-name'|l10n(lang)}}";
      }
      return fullName;
    }

    let authorsToSave = {};

    const speakerEnabled  = 'data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m 8 0 c -1.660156 0 -3 1.339844 -3 3 v 5 c 0 1.660156 1.339844 3 3 3 s 3 -1.339844 3 -3 v -5 c 0 -1.660156 -1.339844 -3 -3 -3 z m -6 6 v 2.011719 c 0 2.964843 2.164062 5.429687 5 5.90625 v 2.082031 h 2 v -2.082031 c 2.835938 -0.476563 5 -2.941407 5 -5.90625 v -2.011719 h -1.5 v 2.011719 c 0 2.5 -1.992188 4.488281 -4.5 4.488281 s -4.5 -1.988281 -4.5 -4.488281 v -2.011719 z m 0 0" fill="%23fff"/></svg>';
    const speakerDisabled = 'data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m 8 0 c -1.660156 0 -3 1.339844 -3 3 v 0.9375 l -3.46875 -3.46875 l -1.0625 1.0625 l 14 14 l 1.0625 -1.0625 l -2.792969 -2.792969 c 0.789063 -1.011719 1.261719 -2.285156 1.261719 -3.664062 v -2.011719 h -1.5 v 2.011719 c 0 0.972656 -0.304688 1.867187 -0.824219 2.601562 l -1.089843 -1.089843 c 0.261718 -0.445313 0.414062 -0.964844 0.414062 -1.523438 v -5 c 0 -1.660156 -1.339844 -3 -3 -3 z m -6 6 v 2.011719 c 0 2.964843 2.164062 5.429687 5 5.90625 v 2.082031 h 2 v -2.082031 c 0.5 -0.085938 0.976562 -0.230469 1.425781 -0.429688 l -1.164062 -1.164062 c -0.398438 0.113281 -0.824219 0.175781 -1.261719 0.175781 c -2.507812 0 -4.5 -1.988281 -4.5 -4.488281 v -1.449219 l -0.5625 -0.5625 z m 3.003906 2.066406 c 0.035156 1.609375 1.320313 2.894532 2.929688 2.929688 z m 0 0" fill="%23fff"/></svg>';

    const authorSelectHtml = (id, presenter=false, order=null) => {
      let author = _authors[id]
      const fullName = authorFullname(author);
      const number = (order==null)?'':(String(order+1)+'. ');
      return (
        `<div id="author-${id}" class="author-name rounded-1 p-1 mb-1" data-content="${fullName}" data-author-id="${id}">
          <div class='d-flex'>
            <div class='flex-grow-1' id='author-name'>${number}${fullName}</div> 
            <div class="speaker${presenter?' speaker-selected':''}" id="speaker-${id}"${(order==null)?' hidden':''}><img style="width:20px;" src='${presenter?speakerEnabled:speakerDisabled}' alt='speaker-icon'></div>
          </div>
        </div>`
      );
    }

    // Proxy to authors that allows us to intercept any changes in order to 
    // display or save them
    let _authors = {};
    let authors = new Proxy(_authors, {
      deleteProperty: function(target, property) {
        let id = target[property].id;
        return Reflect.deleteProperty(...arguments);
      },
      set: function(target, property, author, receiver) {
        target[property] = author;
        if(isInteger(property)) {
          const author_id = author.id;
          for(const abstract_id in abstracts) {
            let abstract = abstracts[abstract_id];
            let fullName = authorFullname(_authors[author_id]);

            if(author_id in abstract.selectedAuthors && abstract.selectedAuthors[author_id]) {
              let authorElement = abstract.selectedAuthorsElement.querySelector('#author-' + String(author_id));
              authorElement.dataset.content = fullName;
              authorElement.querySelector('#author-name').innerHTML = `${author.order + 1}. ${fullName}`;
            } else if(author_id in abstract.availableAuthors && abstract.availableAuthors[author_id]) {
              let authorElement = abstract.availableAuthorsElement.querySelector('#author-' + String(author_id));
              authorElement.dataset.content = fullName;
              authorElement.querySelector('#author-name').innerHTML = fullName;
            } else {
              abstract.availableAuthors[author_id] = author;
              abstract.availableAuthorsElement.insertAdjacentHTML(
                'beforeend',
                authorSelectHtml(author_id)
              );
            }
          }
          scheduleAuthorsSave(author_id, author);
        }
        return true;
      }
    });
    
    // Load available authors from database
    fetch("{{ url_for('IX_IPC.load_authors') }}", {
      method: 'POST',
      body: blankForm()
    })
    .then((response) => response.json())
    .then((data) => {
      for(let author of data.authors) {
        author.selectedAffiliations = {};
        author.availableAffiliations = Object.assign(institutions);
        authors[author.id] = author;
        load_affiliations(author).then(
          editAuthorsForm.insertAdjacentElement('beforeend', authorHTMLElement(author))
        ).catch((e) => console.log(e) );
      }
      authorsToSave = {};
    })
    .catch((e) => console.log(e));

    const scheduleAuthorsSave = (id=null, author=null) => {
      if(id && author) authorsToSave[id] = author;
      setTimeout(saveAuthors, saveTimeout);
    }

    const authorHTMLElement = (author) => {
      let authorForm = document.createElement('div');
      authorForm.dataset.id = author.id;
      authorForm.classList.add('accordion-item');
      
      // Header
      let header = document.createElement('h2');
      header.classList.add('accordion-header');
      header.innerHTML = `<button id="author-header" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#author-edit-${author.id}" aria-expanded="false" aria-controls="author-edit-${author.id}"></button>`
      authorForm.appendChild(header);

      // Main tab
      const firstNameLabel = "{{ 'IXIPC-personal-data-first-name'|l10n(lang) }}";
      const lastNameLabel = "{{ 'IXIPC-personal-data-last-name'|l10n(lang) }}";

      let main = document.createElement('div');
      main.id = 'author-edit-' + String(author.id);
      main.classList.add('accordion-collapse', 'collapse');
      main.dataset.bsParent = "#accordion-authors";

      let accordionBody = document.createElement('div');
      accordionBody.classList.add('accordion-body');
      let form = document.createElement('form');
      form.setAttribute('action', '');

      let row1 = document.createElement('div');
      row1.classList.add('row', 'mb-3');

      // First name
      let col11 = document.createElement('div');
      col11.classList.add('col');

      let label11 = document.createElement('label');
      // label11.setAttribute('for', 'first-name');
      label11.classList.add('form-label');
      label11.innerHTML = firstNameLabel;

      let input11 = document.createElement('input');
      input11.id = 'first-name'
      input11.setAttribute('type', 'text');
      input11.classList.add('form-control');
      input11.value = author.firstName;

      col11.appendChild(label11);
      col11.appendChild(input11);

      // Last name
      let col12 = document.createElement('div');
      col12.classList.add('col');
      let label12 = document.createElement('label');
      // label12.setAttribute('for', 'last-name');
      label12.classList.add('form-label');
      label12.innerHTML = lastNameLabel;

      let input12 = document.createElement('input');
      input12.id = 'last-name'
      input12.setAttribute('type', 'text');
      input12.classList.add('form-control');
      input12.value = author.lastName;

      col12.appendChild(label12);
      col12.appendChild(input12);

      row1.appendChild(col11);
      row1.appendChild(col12);

      form.appendChild(row1);

      // Affiliations
      let row2 = document.createElement('div');
      row2.classList.add('row', 'mb-4');

      let col21 = document.createElement('div');
      col21.classList.add('col-6', 'px-2');

      let label21 = document.createElement('label');
      label21.setAttribute('for', 'selected-institutions');
      label21.classList.add('form-label');
      label21.innerHTML = "{{ 'IXIPC-abstract-institutions-select'|l10n(lang) }}";

      let selectedBox = document.createElement('div');
      selectedBox.classList.add('authors-box', 'rounded-1', 'p-1', 'h-100');
      selectedBox.id = 'selected-institutions';

      col21.appendChild(label21);
      col21.appendChild(selectedBox);

      let col22 = document.createElement('div');
      col22.classList.add('col-6', 'px-2');

      let label22 = document.createElement('label');
      label22.setAttribute('for', 'available-institutions');
      label22.classList.add('form-label');
      label22.innerHTML = "{{ 'IXIPC-abstract-institutions-available'|l10n(lang) }}";

      let availableBox = document.createElement('div');
      availableBox.classList.add('authors-box', 'rounded-1', 'p-1', 'h-100');
      availableBox.id = 'available-institutions';

      col22.appendChild(label22);
      col22.appendChild(availableBox);

      row2.appendChild(col21);
      row2.appendChild(col22);
      form.appendChild(row2);

      // Instructions
      let row3 = document.createElement('div');
      row3.classList.add('row', 'mb-3');

      let col3 = document.createElement('div');
      col3.classList.add('col');

      let instructions = document.createElement('div');
      instructions.classList.add('form-text');
      instructions.innerHTML = `{{'IXIPC-abstract-institutions-drag-and-drop'|l10n(lang)}}`;

      col3.appendChild(instructions);
      row3.appendChild(col3);
      form.appendChild(row3);

      // Feedback display
      let feedbackDisplay = document.createElement('div');
      feedbackDisplay.classList.add('w-100', 'card-footer', 'abstract-footer-text', 'text-white', 'text-center', 'p-0');
      feedbackDisplay.id = 'author-saved-' + String(author.id)
      feedbackDisplay.innerHTML = '&nbsp;'

      form.appendChild(feedbackDisplay);

      accordionBody.appendChild(form);
      main.appendChild(accordionBody);
      authorForm.appendChild(main);

      const identifyEventSource = (source) => {
        if(source.id === 'available-institutions' ) {
          return 'availableAffiliations';
        } else if(source.id === 'selected-institutions') {
          return 'selectedAffiliations';
        } else {
          return null;
        }
      }

      const moveInstitution = (id, from, to) => {
        let origin = identifyEventSource(from);
        let destination = identifyEventSource(to);
        let institution = author[origin][id];

        if(institution) {
          if(destination != origin) {
            author[destination][id] = institution;
            delete author[origin][id];
          }
        }
      }

      /* const saveAbstractAuthors = async () => {
        if(Object.keys(abstractAuthorsToSave).length > 0) {
          let abstractAuthors = {};
          for(const id in abstractAuthorsToSave) {
            const abstract = abstracts[id];

            abstractAuthors[id] = [];
            for(const author_id in abstract.selectedAuthors) {
              const author = abstract.selectedAuthors[author_id];
              if(author) abstractAuthors[id].push([author_id, author.order, author.presenter]);
            }
          }
          let form = blankForm();
          form.append('abstractAuthors', JSON.stringify(abstractAuthors));
          abstractAuthorsToSave = {};

          fetch("{{ url_for('IX_IPC.save_abstract_authors') }}", {
            method: 'POST',
            body: form
          })
          .catch((e) => console.log(e));
        }
      } */

      const dragInstitution = (list, numbered=null) => (evt) => {
        console.log(author);
        console.log(evt.item.dataset.institutionId);
        console.log(evt.from);
        console.log(evt.to);
        moveInstitution(
          evt.item.dataset.institutionId,
          evt.from,
          evt.to
        );
        console.log(author);

        list.childNodes.forEach(
          (child, i) => {
            if('dataset' in child) {
              let institutionId = child.dataset.institutionId;
              let nameElement = child.querySelector(`#institution-name`);

              if(numbered) {
                nameElement.innerHTML = `${i+1}. ${child.dataset.content}`;
                author.selectedAffiliations[institutionId].order = i;
              } else {
                nameElement.innerHTML = child.dataset.content;
              }
            }
          }
        );

        scheduleAffiliationsSave(author.id);
      }

      new Sortable(selectedBox, {
        group: 'shared-affiliations-' + String(author.id),
        animation: 150,
        onSort: dragInstitution(selectedBox, numbered=true),
        onUpdate: dragInstitution(selectedBox, numbered=true)
      });
      
      new Sortable(availableBox, {
        group: 'shared-affiliations-' + String(author.id),
        animation: 150,
        onSort: dragInstitution(availableBox, numbered=false)
      });
  
      authorForm.addEventListener(
        'input',
        updateAuthor(authorForm)
      );
      updateAuthor(authorForm)();
  
      return authorForm;
    };
  
    const load_affiliations = async (author) => {
      let form = blankForm();
      form.append('authorId', author.id);

      return fetch("{{ url_for('IX_IPC.load_affiliations') }}", {
        method: 'POST',
        body: form
      })
      .then((response) => response.json())
      .then((data) => {
        for(const idx in data.affiliations) {
          let id = data.affiliations[idx].institutionId;
          let institution = author.availableAffiliations[id];
          delete author.availableAffiliations[id];

          institution.order = data.affiliations[idx].order;
          author.selectedAffiliations[id] = institution;
        }
      });
    };

    const newAuthor = () => {
      let newAuthor = {
        'firstName': '',
        'lastName': '',
        'id': null,
        'presenter': false,
        'selectedAffiliations': {},
        'availableAffiliations': Object.assign({}, institutions),
      };
      
      fetch("{{ url_for('IX_IPC.new_author') }}", {
        method: 'POST',
        body: blankForm()
      })
      .then((response) => response.json())
      .then((data) => {
        newAuthor.id = data.id;
        authors[newAuthor.id] = newAuthor;
        editAuthorsForm.insertAdjacentElement('beforeend', authorHTMLElement(newAuthor));
        for(abstract_id in abstracts) {
          abstracts[abstract_id].addPresenterSelectListener(newAuthor);
        }
      })
      .catch((e) => console.log(e));
    };  

    const updateAuthor = (target) => () => {
      const id = target.dataset.id;
      let author = _authors[id];
      
      author.firstName = target.querySelector('#first-name').value;
      author.lastName = target.querySelector('#last-name').value;

      target.querySelector('#author-header').innerHTML = authorFullname(author);
      authors[id] = author;
    };

    const saveAuthors = () => {
      if(Object.keys(authorsToSave).length > 0) {
        let form = blankForm();
        form.append('authors', JSON.stringify(authorsToSave));

        for(const id in authorsToSave) {
          let elem = document.getElementById('author-saved-' + String(id));
          elem.innerHTML = "{{ 'IXIPC-saved-author'|l10n(lang) }}";
          elem.classList.add('bg-primary');
          setTimeout(() => {
            elem.innerHTML = '&nbsp;';
            elem.classList.remove('bg-primary');
          }, warningTimeout);
        }

        authorsToSave = {};

        fetch("{{ url_for('IX_IPC.save_authors') }}", {
          method: 'POST',
          body: form
        })
        .catch((e) => console.log(e));
      }
    }

    ///////////////////////////////////////////////////////////////////////////////
    // Abstracts
    let abstracts = {};

    const registerAbstract = async (abstractElement, id) => {
      let abstractAuthorsToSave = {};

      const saveAbstractAuthors = async () => {
        if(Object.keys(abstractAuthorsToSave).length > 0) {
          let abstractAuthors = {};
          for(const id in abstractAuthorsToSave) {
            const abstract = abstracts[id];

            abstractAuthors[id] = [];
            for(const author_id in abstract.selectedAuthors) {
              const author = abstract.selectedAuthors[author_id];
              if(author) abstractAuthors[id].push([author_id, author.order, author.presenter]);
            }
          }
          let form = blankForm();
          form.append('abstractAuthors', JSON.stringify(abstractAuthors));
          abstractAuthorsToSave = {};

          fetch("{{ url_for('IX_IPC.save_abstract_authors') }}", {
            method: 'POST',
            body: form
          })
          .catch((e) => console.log(e));
        }
      }

      const addPresenterSelectListener = (author) => {
        let speakerElement = abstract.element.querySelector('#speaker-' + String(author.id));
        speakerElement.addEventListener('click', () => {
          setSpeaker(author.id);
          for(const author_id in abstract.selectedAuthors) {
            let element = abstract.element.querySelector('#speaker-' + String(author_id));
            element.querySelector('img').src = speakerDisabled;
            element.classList.remove('speaker-selected');
          }
          speakerElement.querySelector('img').src = speakerEnabled;
          speakerElement.classList.add('speaker-selected');
        });
      }

      let abstract = {
        'id': id,
        'element': abstractElement,
        'selectedAuthors': {},
        'availableAuthors': Object.assign({}, _authors),
        'selectedAuthorsElement': abstractElement.querySelector('#selected-authors'),
        'availableAuthorsElement': abstractElement.querySelector('#available-authors'),
        'saveAbstractAuthors': saveAbstractAuthors,
        'addPresenterSelectListener': addPresenterSelectListener
      };

      /////////////////////////////////////////////////////////////////////////////////////
      // Load selected authors
      const load_abstract_authors = () => {
        let form = blankForm();
        form.append('abstractId', id);

        return fetch("{{ url_for('IX_IPC.load_abstract_authors') }}", {
          method: 'POST',
          body: form
        })
        .then((response) => response.json())
        .then((data) => {
          for(const idx in data.authors) {
            let id = data.authors[idx].authorId;
            let author = abstract.availableAuthors[id];
            delete abstract.availableAuthors[id];

            author.presenter = data.authors[idx].presenter;
            author.order = data.authors[idx].order;
            abstract.selectedAuthors[id] = author;
          }
        })
        .catch((e) => console.log(e));
      };
      await load_abstract_authors();
      /////////////////////////////////////////////////////////////////////////////////////

      const identifyEventSource = (source) => {
        if(source == abstract.availableAuthorsElement) {
          return 'availableAuthors';
        } else if(source == abstract.selectedAuthorsElement) {
          return 'selectedAuthors';
        } else {
          return null;
        }
      }

      const moveAuthor = (id, from, to) => {
        let origin = identifyEventSource(from);
        let destination = identifyEventSource(to);
        let author = abstract[origin][id];

        if(author) {
          if(destination == 'availableAuthors') {
            author.presenter = false;
            let element = abstract.element.querySelector('#speaker-' + String(id));
            element.querySelector('img').src = speakerDisabled;
            element.classList.remove('speaker-selected');
          }
          if(destination != origin) {
            abstract[destination][id] = author;
            delete abstract[origin][id];
          }
        }
      }
  
      const setSpeaker = (id) => {
        for(const id in abstract.selectedAuthors) {
          let author = abstract.selectedAuthors[id];
          if(author) author.presenter = false;
        }
        abstract.selectedAuthors[id].presenter = true;
        scheduleAbstractAuthorsSave();
      }

      for(const id in abstract.availableAuthors) {
        let author = _authors[id];
        const fullName = authorFullname(author);
        abstract.availableAuthorsElement.insertAdjacentHTML(
          'beforeend',
          authorSelectHtml(id, presenter=false)
        );
        addPresenterSelectListener(author);
      }

      // order the authors before displaying them
      authors_ordered = Object.values(abstract.selectedAuthors);
      authors_ordered.sort((a, b) => (a.order > b.order)?1:-1);

      for(const idx in authors_ordered) {
        const author = authors_ordered[idx];
        const fullName = authorFullname(author);
        abstract.selectedAuthorsElement.insertAdjacentHTML(
          'beforeend',
          authorSelectHtml(author.id, presenter=author.presenter, order=parseInt(idx))
        );
        addPresenterSelectListener(author);  
      }

      const scheduleAbstractAuthorsSave = (id=null) => {
        if(id === null) id = abstract.id;
        abstractAuthorsToSave[id] = true;
        setTimeout(saveAbstractAuthors, saveTimeout);
      }

      const dragAuthor = (list, numbered=null) => (evt) => {
        moveAuthor(
          evt.item.dataset.authorId,
          evt.from,
          evt.to
        );
  
        list.childNodes.forEach(
          (child, i) => {
            if('dataset' in child) {
              let authorId = child.dataset.authorId;
              let speakerElement = child.querySelector(`#speaker-${authorId}`);
              let nameElement = child.querySelector(`#author-name`);

              if(numbered) {
                speakerElement.removeAttribute('hidden');
                nameElement.innerHTML = `${i+1}. ${child.dataset.content}`;
                abstract.selectedAuthors[authorId].order = i;
              } else {
                speakerElement.setAttribute('hidden', '');
                nameElement.innerHTML = child.dataset.content;
              }
            }
          }
        );

        scheduleAbstractAuthorsSave(id);
      }

      new Sortable(abstract.selectedAuthorsElement, {
        group: 'shared-' + String(id),
        animation: 150,
        onSort: dragAuthor(abstract.selectedAuthorsElement, numbered=true),
        onUpdate: dragAuthor(abstract.selectedAuthorsElement, numbered=true)
      });
      
      new Sortable(abstract.availableAuthorsElement, {
        group: 'shared-' + String(id),
        animation: 150,
        onSort: dragAuthor(abstract.availableAuthorsElement, numbered=false)
      });

      abstracts[id] = abstract;
    };

    const deregisterAbstract = async (id) => {
      await abstracts[id].saveAbstractAuthors();  
      delete abstracts[id];
    }

    const getAbstractSelectedAuthors = (abstractId) => {
      return Object.values(abstracts[abstractId].selectedAuthors);
    }

    const updateInstitution = (institution) => {
      institutions[institution.id] = institution;
      for(let author_id in _authors) {
        let author = _authors[author_id];
        if(institution.id in author.selectedAffiliations && author.selectedAffiliations[institution.id]) {
          let institutionElement = author.querySelector('#author-' + String(author.id));
          authorElement.dataset.content = fullName;
          authorElement.querySelector('#author-name').innerHTML = `${author.order + 1}. ${fullName}`;
        }
      }
      /* for(const author_id in authors.authors_list) {
        let abstract = abstracts[abstract_id];
        let fullName = authorFullname(_authors[author_id]);

        if(author_id in abstract.selectedAuthors && abstract.selectedAuthors[author_id]) {
          let authorElement = abstract.selectedAuthorsElement.querySelector('#author-' + String(author_id));
          authorElement.dataset.content = fullName;
          authorElement.querySelector('#author-name').innerHTML = `${author.order + 1}. ${fullName}`;
        } else if(author_id in abstract.availableAuthors && abstract.availableAuthors[author_id]) {
          let authorElement = abstract.availableAuthorsElement.querySelector('#author-' + String(author_id));
          authorElement.dataset.content = fullName;
          authorElement.querySelector('#author-name').innerHTML = fullName;
        } else {
          abstract.availableAuthors[author_id] = author;
          abstract.availableAuthorsElement.insertAdjacentHTML(
            'beforeend',
            authorSelectHtml(author_id)
          );
        }
      } */
    }

    return {
      'newAuthor': newAuthor,
      'saveAuthors': saveAuthors,
      'registerAbstract': registerAbstract,
      'deregisterAbstract': deregisterAbstract,
      'getAbstractSelectedAuthors': getAbstractSelectedAuthors,
      'updateInstitution': updateInstitution,
      'authorList': _authors,
      'registerInstitutions': registerInstitutions,
    }
  };

  const institutionsManager = (authors) => {
    let institutionsToSave = {};
    let affiliationsToSave = {};
    let editInstitutionsForm = document.getElementById('accordion-institutions');

    const institutionName = (institution) => {
      if(institution.name && institution.name.trim().length > 0) {
        let name = institution.name.trim();
        if(institution.country && institution.country.trim().length > 0) {
          name += ' (' + institution.country.trim() + ')';
        }
        return name;
      }
      return "{{'IXIPC-no-name'|l10n(lang)}}";
    }

    const institutionSelectHTML = (id, order=null) => {
      let institution = _institutions[id];
      const number = (order==null)?'':(String(order+1)+'. ');
      let name = institutionName(institution);
      return (
        `<div id="institution-${id}" class="author-name rounded-1 p-1 mb-1" data-content="${name}" data-institution-id="${id}">
          <div class='d-flex'>
            <div class='flex-grow-1' id='institution-name'>${number}${name}</div> 
          </div>
        </div>`
      );
    }

    // Proxy to institutions that allows us to intercept any changes in order to 
    // display or save them
    let _institutions = {};
    let institutions = new Proxy(_institutions, {
      deleteProperty: function(target, property) {
        let id = target[property].id;
        return Reflect.deleteProperty(...arguments);
      },
      set: function(target, property, institution, receiver) {
        target[property] = institution;
        if(isInteger(property)) {
          authors.updateInstitution(institution);
          scheduleInstitutionsSave(institution.id, institution);

          let author_list = authors.authorList;
          for(const author_id in author_list) {
            let author = author_list[author_id];
            let authorElement = document.getElementById('author-edit-' + String(author.id));

            if(institution.id in author.selectedAffiliations) {
              let institutionElement = authorElement
                .querySelector('#selected-institutions')
                .querySelector('#institution-' + String(institution.id));
              if(institutionElement) {
                institutionElement.dataset.content = institution.name;
                institutionElement.querySelector('#institution-name').innerHTML = `${institution.order + 1}. ${institution.name}`;
              } else {
                authorElement
                  .querySelector('#selected-institutions')
                  .insertAdjacentHTML(
                    'beforeend',
                    institutionSelectHTML(institution.id)
                  );
              }
            } else if(institution.id in author.availableAffiliations) {
              let institutionElement = authorElement
                .querySelector('#available-institutions')
                .querySelector('#institution-' + String(institution.id));
              if(institutionElement) {
                institutionElement.dataset.content = institution.name;
                institutionElement.querySelector('#institution-name').innerHTML = institution.name;
              } else {
                authorElement
                  .querySelector('#available-institutions')
                  .insertAdjacentHTML(
                    'beforeend',
                    institutionSelectHTML(institution.id)
                  );
              }
            } else {
              author.availableAffiliations[institution.id] = institution;
              authorElement
                .querySelector('#available-institutions')
                .insertAdjacentHTML(
                  'beforeend',
                  institutionSelectHTML(institution.id)
                );
            }
          }
        }
        return true;
      }
    });

    // Load available institutions from database
    fetch("{{ url_for('IX_IPC.load_institutions') }}", {
      method: 'POST',
      body: blankForm()
    })
    .then((response) => response.json())
    .then((data) => {
      for(let institution of data.institutions) {
        institutions[institution.id] = institution;
        editInstitutionsForm.insertAdjacentElement('beforeend', institutionHTMLElement(institution));
      }
      institutionsToSave = {};
    })
    .catch((e) => console.log(e));

    const saveAffiliations = () => {
      if(Object.keys(affiliationsToSave).length > 0) {
        let affiliations = {};
        for(const author_id in affiliationsToSave) {
          const author = authors.authorList[author_id];

          affiliations[author_id] = [];
          for(const institution_id in author.selectedAffiliations) {
            const institution = author.selectedAffiliations[institution_id];
            if(institution) 
              affiliations[author_id].push([institution_id, institution.order]);
          }
          let form = blankForm();
          form.append('affiliations', JSON.stringify(affiliations));
          affiliationsToSave = {};

          fetch("{{ url_for('IX_IPC.save_affiliations') }}", {
            method: 'POST',
            body: form
          })
          .catch((e) => console.log(e));  
        }
      }
    }

    const scheduleAffiliationsSave = (id=null) => {
      if(id != null) id = affiliationsToSave[id] = true;
      setTimeout(saveAffiliations, saveTimeout);
    }

    const institutionHTMLElement = (institution) => {
      let institutionForm = document.createElement('div');
      institutionForm.dataset.id = institution.id;
      
      institutionForm.classList.add('accordion-item');
      institutionForm.insertAdjacentHTML('beforeend',
        `<h2 class="accordion-header">
          <button id="institution-header" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#institution-edit-${institution.id}" aria-expanded="false" aria-controls="institution-edit-${institution.id}"></button>
        </h2>`
      );
  
      const institutionNameLabel = "{{ 'IXIPC-institutions-name'|l10n(lang) }}";
      const institutionAddressLabel = "{{ 'IXIPC-institutions-address'|l10n(lang) }}";
      const institutionCountryLabel = "{{ 'IXIPC-institutions-country'|l10n(lang) }}";

      institutionForm.insertAdjacentHTML('beforeend',
        `<div id="institution-edit-${institution.id}" class="accordion-collapse collapse" data-bs-parent="#accordion-institutions">
          <div class="accordion-body">
            <form action="">
              <div class="row mb-3">
                <div class="col">
                  <label for="name" class="form-label">${institutionNameLabel}</label>
                  <input name="name" id="name" type="text" class="form-control" value="${institution.name}">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-8">
                  <label for="address" class="form-label">${institutionAddressLabel}</label>
                  <input name="address" id="address" type="text" class="form-control" value="${institution.address}">
                </div>
                <div class="col-4">
                  <label for="country" class="form-label">${institutionCountryLabel}</label>
                  <input name="country" id="country" type="text" class="form-control" value="${institution.country}">
                </div>
              </div>
              <div class="w-100 card-footer abstract-footer-text text-white text-center p-0" id="institution-saved-${institution.id}">&nbsp;</div>
            </form>
          </div>
        </div>`
      );

      institutionForm.addEventListener(
        'input',
        updateInstitution(institutionForm)
      );
      updateInstitution(institutionForm)();
  
      return institutionForm;
    }

    const newInstitution = () => {
      let institution = {
        'name': '',
        'address': '',
        'country': ''
      };

      fetch("{{ url_for('IX_IPC.new_institution') }}", {
        method: 'POST',
        body: blankForm()
      })
      .then((response) => response.json())
      .then((data) => {
        institution.id = data.id;
        institutions[institution.id] = institution;
        editInstitutionsForm.insertAdjacentElement(
          'beforeend', 
          institutionHTMLElement(institution)
        );
      })
      .catch((e) => console.log(e));
    }

    const saveInstitutions = () => {
      if(Object.keys(institutionsToSave).length > 0) {
        let form = blankForm();
        form.append('institutions', JSON.stringify(institutionsToSave));

        for(const id in institutionsToSave) {
          let elem = document.getElementById('institution-saved-' + String(id));
          elem.innerHTML = "{{ 'IXIPC-saved-institution'|l10n(lang) }}";
          elem.classList.add('bg-primary');
          setTimeout(() => {
            elem.innerHTML = '&nbsp;';
            elem.classList.remove('bg-primary');
          }, warningTimeout);
        }

        institutionsToSave = {};

        fetch("{{ url_for('IX_IPC.save_institutions') }}", {
          method: 'POST',
          body: form
        })
        .catch((e) => console.log(e));
      }
    }

    const scheduleInstitutionsSave = (id=null, institution=null) => {
      if(id && institution) institutionsToSave[id] = institution;
      setTimeout(saveInstitutions, saveTimeout);
    }

    const updateInstitution = (target) => () => {
      const id = target.dataset.id;
      let institution = institutions[id];
      
      institution.name = target.querySelector('#name').value;
      institution.address = target.querySelector('#address').value;
      institution.country = target.querySelector('#country').value;

      target.querySelector('#institution-header').innerHTML = institutionName(institution);
      institutions[id] = institution;
    };

    return {
      'newInstitution': newInstitution,
      'saveInstitutions': saveInstitutions,
      'scheduleInstitutionsSave': scheduleInstitutionsSave,
      'updateInstitution': updateInstitution,
      'scheduleAffiliationsSave': scheduleAffiliationsSave,
      'list': _institutions
    };
  }

  let authors = authorsManager();
  document.getElementById('new-author-button').addEventListener(
    'click',
    authors.newAuthor
  );

  let institutions = institutionsManager(authors);
  document.getElementById('new-institution-button').addEventListener(
    'click',
    institutions.newInstitution
  );

  authors.registerInstitutions(institutions);
</script>