<script>
  const openAbstract = (id) => {
    let elem = document.getElementById('abstract-' + String(id));
    let url = "{{ url_for('IX_IPC.load_abstract', language=lang) }}";

    const callback = (mutationList, observer) => {
      elem.querySelector('#abstract-close-button').onclick = () => {
        fetch("{{ url_for('IX_IPC.closed_abstract', language=lang) }}", {
          method: 'POST',
          body: new FormData(elem.querySelector('#abstract-' + String(id)))
        })
        .then((response) => response.json())
        .then((data) => {
          elem.innerHTML = data.html;
        })
        .catch((e) => {
          console.log(e)
        });
      };

      if(elem.querySelector('#abstract-submitted') != null) {
        observer.disconnect();
        return;
      } 

      registerCounter(
        elem.querySelector('#abstract-title'), 
        elem.querySelector('#abstract-title-character-counter')
      );
      registerCounter(
        elem.querySelector('#abstract-body'), 
        elem.querySelector('#abstract-character-counter')
      );

      elem.querySelector('#abstract-delete').onclick = () => {
        fetch("{{ url_for('IX_IPC.delete_abstract') }}", {
          method: 'POST',
          body: new FormData(elem.querySelector('#abstract-' + String(id)))
        })
        .catch((e) => {
          console.log(e)
        });
        elem.remove();
      };

      // Submit abstract
      elem.querySelector('#abstract-submit').onclick = () => {
        fetch("{{ url_for('IX_IPC.submit_abstract', language=lang) }}", {
          method: 'POST',
          body: new FormData(elem.querySelector('#abstract-' + String(id)))
        })
        .then((response) => response.json())
        .then((data) => {
          elem.outerHTML = data['html'];
        })
        .catch((e) => {
          console.log(e)
        })
      };
 
      // Save abstract
      elem.querySelector('#abstract-save').onclick = () => {
        fetch("{{ url_for('IX_IPC.save_abstract') }}", {
          method: 'POST',
          body: new FormData(elem.querySelector('#abstract-' + String(id)))
        })
        .then((response) => response.json())
        .then((data) => {
          let feedback = elem.querySelector('#save-feedback');
          if('id' in data) {
            elem.querySelector('#abstract-id').value = data['id'];
            feedback.innerHTML = "{{ 'IXIPC-abstract-save-success'|l10n(lang) }}"
            feedback.classList.add('bg-success')
            feedback.classList.remove('bg-danger')
          } else {
            feedback.innerHTML = "{{ 'IXIPC-abstract-save-fail'|l10n(lang) }}"
            feedback.classList.remove('bg-success')
            feedback.classList.add('bg-success')
          }
          setTimeout(() => {
            feedback.innerHTML = '&nbsp;';
            feedback.classList.remove('bg-success')
            feedback.classList.remove('bg-danger')
          }, 4000);
        })
        .catch((e) => {
          console.log(e)
        });
      };

      let selectedAuthors = elem.querySelector('#select-authors');
      let availableAuthors = elem.querySelector('#available-authors');
      new Sortable(selectedAuthors, {
        group: 'shared123', // set both lists to same group
        animation: 150,
        onSort: (evt) => {
          selectedAuthors.childNodes.forEach(
            (child, i) => {
              child.innerHTML = String(i+1) + '. ' + child.dataset.content;
            }
          );
        }
      });
      
      new Sortable(availableAuthors, {
        group: 'shared123',
        animation: 150,
        onSort: (evt) => {
          availableAuthors.childNodes.forEach(
            (child, i) => {
              if('dataset' in child) {
                child.innerHTML = child.dataset.content;
              }
            }
          ); 
        }
      });

      observer.disconnect();
    };
  
    const config = { attributes: false, childList: true, subtree: false };
    const observer = new MutationObserver(callback);
    observer.observe(elem, config);

    fetch(url, {
      method: 'POST',
      body: new FormData(elem.firstElementChild)
    })
    .then((response) => response.json())
    .then((data) => {
      elem.innerHTML = data.html;
    })
    .catch((e) => {
      console.log(e);
    });  
  }
</script>