<script>
  const openAbstract = (id) => {
    let abstractElement = document.getElementById('abstract-' + String(id));
    let url = "{{ url_for('IX_IPC.load_abstract', language=lang) }}";

    const callback = (mutationList, observer) => {
      observer.disconnect();

      abstractElement.querySelector('#abstract-close-button').onclick = () => {
        fetch("{{ url_for('IX_IPC.closed_abstract', language=lang) }}", {
          method: 'POST',
          body: new FormData(abstractElement.querySelector('#abstract-' + String(id)))
        })
        .then((response) => response.json())
        .then((data) => {
          abstractElement.innerHTML = data.html;
        })
        .catch((e) => {
          console.log(e)
        });
      };

      if(abstractElement.querySelector('#abstract-submitted') != null) {
        //observer.disconnect();
        return;
      } 

      registerWordCounter(
        abstractElement.querySelector('#abstract-title'), 
        abstractElement.querySelector('#abstract-title-word-counter'), {
          'min_length': 1,
          'max_length': 20
        }
      );
      registerWordCounter(
        abstractElement.querySelector('#abstract-body'), 
        abstractElement.querySelector('#abstract-word-counter'), {
          'min_length': 1,
          'max_length': 200
        }
      );
      registerWordCounter(
        abstractElement.querySelector('#abstract-keywords'), 
        abstractElement.querySelector('#abstract-keywords-word-counter'), {
          'min_length': 3,
          'max_length': 5,
          'separator': ';'
        }
      );

      try {
        abstractElement.querySelector('#abstract-delete').onclick = () => {
          abstractAuthors.deregisterAbstract(id);
  
          fetch("{{ url_for('IX_IPC.delete_abstract') }}", {
            method: 'POST',
            body: new FormData(abstractElement.querySelector('#abstract-' + String(id)))
          })
          .catch((e) => {
            console.log(e)
          });
          abstractElement.remove();
        };  
      } catch (e) {}

      const validateSubmission = (abstractAuthors) => {
        let submissionValid = true;

        let warningArea = abstractElement.querySelector('#submission-warnings');
        warningArea.removeAttribute('hidden');

        let warnings = '';

        let titleLength = parseInt(abstractElement.querySelector('#abstract-title-word-counter').querySelector('.word-counter').innerHTML);
        if(titleLength === 0) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-title-empty'|l10n(lang) }}";
          submissionValid = false;
        }

        if(titleLength > 20) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-title-too-long'|l10n(lang) }}";
          submissionValid = false;
        }

        let abstractLength = parseInt(abstractElement.querySelector('#abstract-word-counter').querySelector('.word-counter').innerHTML);
        if(abstractLength === 0) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-abstract-empty'|l10n(lang) }}";
          submissionValid = false;
        }

        if(abstractLength > 220) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-abstract-too-long'|l10n(lang) }}";
          submissionValid = false;
        }

        let keywordCounts = parseInt(abstractElement.querySelector('#abstract-keywords-word-counter').querySelector('.word-counter').innerHTML);
        if(keywordCounts < 3) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-few-keywords'|l10n(lang) }}";
          submissionValid = false;
        }

        if(keywordCounts > 5) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-many-keywords'|l10n(lang) }}";
          submissionValid = false;
        }

        let authors_list = Object.values(abstractAuthors.list[id]);
        if(authors_list.length === 0) {
          warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-no-authors'|l10n(lang) }}";
          submissionValid = false;
        } else {
          let speakerDefined = false;
          for(const author of authors_list) {
            if(author.presenter) {
              speakerDefined = true;
              break;
            }
          }
          if(!speakerDefined) {
            warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-no-speaker'|l10n(lang) }}";
            submissionValid = false;
          }
        }

        if(!(['cognition', 'conservation', 'etnoprimatology', 'genetics', 'socioecology'].includes(abstractElement.querySelector('#scientific-area-'+id).value))) {
          if(abstractElement.querySelector('#scientific-area-desc-'+id).value.trim() == '') {
            warnings += '<br>&emsp;- ' + "{{ 'IXIPC-abstract-no-scientific-area'|l10n(lang) }}";
            submissionValid = false;
          }
        }

        if(!submissionValid)
          warningArea.innerHTML = "{{ 'IXIPC-abstract-validation-errors'|l10n(lang) }}" + warnings;

        return submissionValid;
      }

      // Submit abstract
      abstractElement.querySelector('#abstract-submit').onclick = () => {
        if(validateSubmission(abstractAuthors)){
          abstractAuthors.deregisterAbstract(id);

          fetch("{{ url_for('IX_IPC.submit_abstract', language=lang) }}", {
            method: 'POST',
            body: new FormData(abstractElement.querySelector('#abstract-' + String(id)))
          })
          .then((response) => response.json())
          .then((data) => {
            abstractElement.outerHTML = data['html'];
          })
          .catch((e) => {
            console.log(e)
          });
        }
      };
 
      // Save abstract
      let abstractModified = false;
      const saveAbstract = () => {
        if(abstractModified) {
          abstractModified = false;

          fetch("{{ url_for('IX_IPC.save_abstract') }}", {
            method: 'POST',
            body: new FormData(abstractElement.querySelector('#abstract-' + String(id)))
          })
          .then((response) => response.json())
          .then((data) => {
            let feedback = abstractElement.querySelector('#save-feedback');
            if('id' in data) {
              abstractElement.querySelector('#abstract-id').value = data['id'];
              feedback.innerHTML = "{{ 'IXIPC-abstract-save-success'|l10n(lang) }}"
              feedback.classList.add('bg-success')
              feedback.classList.remove('bg-danger')
            } else {
              feedback.innerHTML = "{{ 'IXIPC-abstract-save-fail'|l10n(lang) }}"
              feedback.classList.remove('bg-success')
              feedback.classList.add('bg-danger')
            }
            setTimeout(() => {
              feedback.innerHTML = '&nbsp;';
              feedback.classList.remove('bg-success')
              feedback.classList.remove('bg-danger')
            }, warningTimeout);
          })
          .catch((e) => {
            console.log(e)
          });
        }
      };

      // Observe the abstract for changes and save them
      const scheduleAbstractSave = () => {
        abstractModified = true;
        setTimeout(saveAbstract, saveTimeout);
      }

      let scientificAreaElement = abstractElement.querySelector('#scientific-area-' + id);
      let scientificAreaOtherElement = abstractElement.querySelector('#scientific-area-desc-' + id);
      const scientificAreaUpdate = () => {
        if(scientificAreaElement.value == 'other') {
          scientificAreaOtherElement.removeAttribute('hidden');
        } else {
          scientificAreaOtherElement.setAttribute('hidden', '');
        }
        scheduleAbstractSave();
      }

      abstractElement.querySelector('#abstract-type').addEventListener('input', scheduleAbstractSave);
      abstractElement.querySelector('#abstract-title').addEventListener('input', scheduleAbstractSave);
      abstractElement.querySelector('#abstract-body').addEventListener('input', scheduleAbstractSave);
      abstractElement.querySelector('#abstract-keywords').addEventListener('input', scheduleAbstractSave);
      scientificAreaElement.addEventListener('change', scientificAreaUpdate);
      scientificAreaOtherElement.addEventListener('input', scheduleAbstractSave);

      abstractAuthors.registerAbstract(id);
    };
  
    const config = { attributes: false, childList: true, subtree: false };
    const observer = new MutationObserver(callback);
    observer.observe(abstractElement, config);

    fetch(url, {
      method: 'POST',
      body: new FormData(abstractElement.firstElementChild)
    })
    .then((response) => response.json())
    .then((data) => {
      abstractElement.innerHTML = data.html;
    })
    .catch((e) => {
      console.log(e);
    });
  }
</script>