@media screen and (min-width: 992px) {
  .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    width: 300px;
    height: 100vh;
  }

  body {
    display: flex;
    flex-wrap: nowrap;
  }

  .navbar-app {
    margin: 20%
  }

  .main {
    padding: 10%;
    padding-top: 5%;
  }
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    margin-bottom: 0.5rem;
  }

  .main {
    padding-top: 2rem;
  }

  .monkey-bg {
    padding-top: 0;
    margin-top: 0;
  }
}

.main {
  background: url('data:image/svg+xml,<svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="9.4" numOctaves="1" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)"/></svg>') repeat center;
  background-size: cover;
  background-attachment: local;
  background-blend-mode: color-burn;
  background-color: rgba(54, 52, 52, 0.4);
  overflow: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main .main-content {
  height: fit-content;
  padding: 4rem;

  background-color: rgba(0, 0, 0, 0.4);
}

.index {
  max-width: 40rem;
}

.navbar {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="9.4" numOctaves="1" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)"/></svg>');
  background-size: cover;
  background-blend-mode: soft-light;
}

.nav-link {
  padding: 0.5rem;
  padding-left: 0.8rem;
}

.logo {
  border-radius: 100rem;
}

.social-icons {
  display: inline-flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100rem;
}

.monkey-bg {
  background: url("../img/background.jpg") no-repeat center;
  align-items: center;
  background-size: cover;
}

.list-group-item-light {
  background-color: rgba(0, 0, 0, 0);
  border: 0cm;
  color: white;
  font-size: larger;
}
