<h2 class="mb-3">{{ 'IXIPC-organizing-committee'|l10n(lang) }}</h2>
<div class="ms-4">
  <div>Catarina Casanova (CIAS, UC & ISCSP, UL)</div>
  <div>César Rodríguez (Universidad Veracruzana)</div>
  <div>Filipa Borges (CRIA/NOVA FCSH)</div>
  <div>Gonçalo Jesus (CIAS, UC & U. Lusófona)</div>
  <div>Isa Aleixo-Pais (CIMO, SusTEC)</div>
  <div>Ivo Colmonero-Costeira (BIOPOLIS, CIBIO/inBIO & Cardiff University)</div>
  <div>Maria Joana Ferreira da Silva (BIOPOLIS, CIBIO/inBIO & Cardiff University)</div>
  <div>Miquel Llorente (Universitat de Girona)</div>
  <div>Susana Costa (CIAS, UC)</div>
  <div>Tânia Minhós (CRIA/NOVA FCSH)</div>
  <div>Víctor Beltrán (Universidad Veracruzana)</div>
</div>