<div class="col me-0 pe-0 h-100">
  <div class="list-group rounded-end-0">
    <div class="list-group-item">
      <form class="form-inline" id="mbway-form" action="">
        <div class="row d-flex py-3">
          {{ registration_form.csrf_token }}
          <div class="col-3">
            <img class="position-relative top-50 start-50 translate-middle" src="{{ url_for('static', filename='img/Logo_MBWay.svg') }}" alt="MBway logo" style="width:80px;">
          </div>
          <div class="col">
            <div class="input-group">
              <label for="mbway-contact" class="input-group-text"><img src="{{ url_for('static', filename='img/phone.svg') }}" alt="phone" style="width: 20px;"></label>
              <input type="tel" class="form-control" id="mbway-contact">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary" id="mbway-payment">{{ 'IXIPC-payment-pay'|l10n(lang) }}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="list-group-item">
      <form class="form-inline" id="creditcard-form" action="">
        <div class="row py-3">
          {{ registration_form.csrf_token }}
          <div class="col-3">
            <img class="position-relative top-50 start-50 translate-middle" src="{{ url_for('static', filename='img/mastercard-visa.png') }}" alt="MBway logo" style="width:50px;">
          </div>
          <div class="col"></div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary" id="card-payment">{{ 'IXIPC-payment-pay'|l10n(lang) }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>