<h2 class="mb-4">{{ 'IXIPC-program'|l10n(lang) }}</h2>
<h3 class="mb-3">{{ 'IXIPC-invited-speakers'|l10n(lang) }}</h3>
<div class="row g-3 mb-5">
  <div class="col-12 col-sm-6 order-2 order-sm-1"><img class="IXIPC-invited-speaker w-100" src="{{ url_for('static', filename='img/man-person-black-and-white-photography-old-portrait-35917-pxhere.com.jpg') }}" alt=""></div>
  <div class="col-12 col-sm-6 order-1 order-sm-2">
    <h4>Zé Chimp</h4>
    Zé Chimp has been studying homo sapiens from time immemorial. He is one of the most famous humanologists in history.
    Zé Chimp will present his research on tool usage by homo sapiens, a subject that did not always receive the attention it deserves.
  </div>
</div>
<div class="row g-3 mb-5">
  <div class="col-12 col-sm-6">
    <h4>Filipa Borges</h4>
    This person studies poo from primates. For some surprising reason, she decided to focus on non-human primates...
  </div>
  <div class="col-12 col-sm-6"><img class="IXIPC-invited-speaker w-100" src="{{ url_for('static', filename='img/1200px-Colobus_angolensis_3X2.jpg') }}" alt=""></div>
</div>