<h2 class="mb-1">{{ 'IXIPC-payment-description'|l10n(lang) }}</h2>
<p class="mb-4">{{ 'IXIPC-payment-member-types'|l10n(lang) }}</p>
<div class="row mb-0">
  <div class="col">
    <table class="table table-borderless rounded-2 overflow-hidden mb-1">
      <thead class="table-dark">
        <tr class="text-center">
          <th class="invisible" scope="col"></th>
          <th scope="col">{{ 'IXIPC-payment-earlybird'|l10n(lang) }}</th>
          <th scope="col">{{ 'IXIPC-payment-late'|l10n(lang) }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-member-student-without-fellowship'|l10n(lang) }}</small></th>
          <td class="text-center">25€</td>
          <td class="text-center">60€</td>
        </tr>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-member-student-with-fellowship'|l10n(lang) }}</small></th>
          <td class="text-center">40€</td>
          <td class="text-center">70€</td>
        </tr>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-non-member-student'|l10n(lang) }} <sup>*</sup></small></th>
          <td class="text-center">70€</td>
          <td class="text-center">120€</td>
        </tr>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-member'|l10n(lang) }}</small></th>
          <td class="text-center">90€</td>
          <td class="text-center">150€</td>
        </tr>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-non-member'|l10n(lang) }} <sup>*</sup></small></th>
          <td class="text-center">150€</td>
          <td class="text-center">200€</td>
        </tr>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-unemployed-member'|l10n(lang) }}</small></th>
          <td class="text-center">25€</td>
          <td class="text-center">60€</td>
        </tr>
        <tr>
          <th scope="row"><small>{{ 'IXIPC-payment-unemployed-non-member'|l10n(lang) }} <sup>*</sup></small></th>
          <td class="text-center">40€</td>
          <td class="text-center">70€</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="mb-3"><sup>*</sup> {{ 'IXIPC-payment-member-fee'|l10n(lang) }}: 25€</p>
