<h2 class="mb-3">{{ 'IXIPC-scientific-committee'|l10n(lang) }}</h2>
<div class="ms-4">
  <div>Ana Fidalgo (Universidad Autónoma de Madrid)</div>
  <div>Catarina Casanova (CIAS, UC & ISCSP, UL)</div>
  <div>Dietmar Crailsheim (MONA)</div>
  <div>Gloria Fernández-Lázaro (Universidad Autónoma de Madrid)</div>
  <div>Gonçalo Jesus (CIAS, UC & U. Lusófona)</div>
  <div>Isa Aleixo-Pais (CIMO, SusTEC)</div>
  <div>Joana Roque de Pinho (CEI, ISCTE-IU)</div>
  <div>Maria Joana Ferreira da Silva (BIOPOLIS, CIBIO inBIO & Cardiff University)</div>
  <div>Mercedes Mayo-Alesón (Universidad de Barcelona)</div>
  <div>Miquel Llorente (Universitat de Girona)</div>
  <div>Rui Moutinho Sá (CAPP, ISCSP, UL)</div>
  <div>Sergio Díaz (Universidad Autónoma de Madrid)</div>
  <div>Susana Costa (CIAS, UC)</div>
  <div>Tânia Minhós (CRIA/NOVA)</div>
  <div>Víctor Beltrán (Universidad Veracruzana)</div>
</div>