<h2 class="mb-4">{{ 'IXIPC-timeline'|l10n(lang) }}</h2>
<div class="lead">
  <div class="row">
    <div class="col-4">{{ 'IXIPC-timeline-abstract-deadline'|l10n(lang) }}</div>
    <div class="col">{{ 'IXIPC-timeline-abstract-deadline-description'|l10n(lang) }}</div>
  </div>
  <div class="row">
    <div class="col-4">{{ 'IXIPC-timeline-abstract-decision-deadline'|l10n(lang) }}</div>
    <div class="col">{{ 'IXIPC-timeline-abstract-decision-deadline-description'|l10n(lang) }}</div>
  </div>
  <div class="row">
    <div class="col-4">{{ 'IXIPC-timeline-earlybird-deadline'|l10n(lang) }}</div>
    <div class="col">{{ 'IXIPC-timeline-earlybird-deadline-description'|l10n(lang) }}</div>
  </div>
  <div class="row">
    <div class="col-4">{{ 'IXIPC-timeline-conference'|l10n(lang) }}</div>
    <div class="col">{{ 'IXIPC-timeline-conference-description'|l10n(lang) }}</div>
  </div>  
</div>