<h2 class="mb-4">{{ 'IXIPC-timeline'|l10n(lang) }}</h2>
<div class="lead">
  <div class="row">
    <div class="col-4">mid April</div>
    <div class="col">Enrollment available</div>
  </div>
  <div class="row">
    <div class="col-4">June 25th</div>
    <div class="col">Abstract submission</div>
  </div>
  <div class="row">
    <div class="col-4">July 35th</div>
    <div class="col">Abstract selection</div>
  </div>
  <div class="row">
    <div class="col-4">August 12th</div>
    <div class="col">Payment deadline</div>
  </div>
  <div class="row">
    <div class="col-4">November 21-23</div>
    <div class="col">Conference</div>
  </div>  
</div>