<h2 class="mb-4">{{ 'IXIPC-timeline'|l10n(lang) }}</h2>
<div class="lead">
  <div class="row">
    <div class="col-4 mb-2">
      <p class="pb-0 mb-0">{{ 'IXIPC-timeline-abstract-deadline'|l10n(lang) }}</p>
      <p class="pt-0 mt-0 mb-1 text-danger"><small><del>{{ 'IXIPC-timeline-abstract-deadline-old'|l10n(lang) }}</del></small></p>
    </div>
    <div class="col"><div class="mt-2">{{ 'IXIPC-timeline-abstract-deadline-description'|l10n(lang) }}</div></div>
  </div>
  <div class="row">
    <div class="col-4 mb-2">
      <p class="pb-0 mb-0">{{ 'IXIPC-timeline-abstract-decision-deadline'|l10n(lang) }}</p>
      <p class="pt-0 mt-0 mb-1 text-danger"><small><del>{{ 'IXIPC-timeline-abstract-decision-deadline-old'|l10n(lang) }}</del></small></p>
    </div>
    <div class="col"><div class="mt-2">{{ 'IXIPC-timeline-abstract-decision-deadline-description'|l10n(lang) }}</div></div>
  </div>
  <div class="row">
    <div class="col-4 mb-2">
      <p class="pb-0 mb-0">{{ 'IXIPC-timeline-earlybird-deadline'|l10n(lang) }}</p>
      <p class="pt-0 mt-0 mb-1 text-danger"><small><del>{{ 'IXIPC-timeline-earlybird-deadline-old'|l10n(lang) }}</del></small></p>
    </div>
    <div class="col"><div class="mt-2">{{ 'IXIPC-timeline-earlybird-deadline-description'|l10n(lang) }}</div></div>
  </div>
  <div class="row">
    <div class="col-4">{{ 'IXIPC-timeline-conference'|l10n(lang) }}</div>
    <div class="col">{{ 'IXIPC-timeline-conference-description'|l10n(lang) }}</div>
  </div>  
</div>