<script>
  const make_uploader = (dropArea, csrfToken) => {
    let elem = dropArea.querySelector('.upload-result');
    let elemText = dropArea.querySelector('.upload-result-text');
    let inputElem = dropArea.querySelector('input[type=file]')
    let feedbackArea = dropArea.querySelector('.card-footer')

    let previousFile = null;

    function preventDefaults(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  
    function highlight(e) {
      dropArea.classList.add('upload-area-highlight');
    }
  
    function unhighlight(e) {
      dropArea.classList.remove('upload-area-highlight');
    }
  
    function handleDrop(e) {
      let dt = e.dataTransfer;
      let file = dt.files[0];
      uploadFile(file);
    }

    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, preventDefaults, false);
      document.body.addEventListener(eventName, preventDefaults, false);
    });
  
    ['dragenter', 'dragover'].forEach(eventName => {
      dropArea.addEventListener(eventName, highlight, false);
    });
  
    ['dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, unhighlight, false);
    });

    dropArea.addEventListener('drop', handleDrop, false);

    const uploadFile = (file) => {
      // Remove a previous file if it existed
      if(previousFile) {
        // TODO: add verification that the user that uploaded is the same removing
        let removeForm = new FormData();
        removeForm.append('id', previousFile.id);
        removeForm.append('csrf_token', csrfToken);

        fetch("{{ url_for('remove_file') }}", {
          method: 'POST',
          body: removeForm
        })
      }

      // Upload the new file
      let uploadForm = new FormData();
      uploadForm.append('file', file);
      uploadForm.append('csrf_token', csrfToken);

      fetch("{{ url_for('upload_file') }}", {
        method: 'POST',
        body: uploadForm
      })
      .then((response) => response.json())
      .then((data) => {
        if('error' in data) {
          elemText.innerHTML = 'Upload error: ' + data['error']
          feedbackArea.classList.remove('bg-success')
          feedbackArea.classList.add('bg-danger')
          previousFile = null
        } else {
          elemText.innerHTML = "File '" + data['name'] + "' successfully uploaded!"
          feedbackArea.classList.remove('bg-danger')
          feedbackArea.classList.add('bg-success')
          previousFile = data;
        }
      }).catch((error) => {
        console.log(error)
      }) 
    }

    dropArea.addEventListener('click', () => {
      inputElem.click();
    });

    inputElem.addEventListener('change', (e) => {
      uploadFile(inputElem.files[0]);
    });
  }
</script>