<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{ 'title' | l10n(lang) }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" async></script>
  </head>
  <body class="{{'' if light_background else 'body-dark'}}">
{% include "partials/navbar.html" %}
    <div class="container-fluid {{'main-light' if light_background else 'main'}}{{ ' monkey-bg' if background_monkey }}{{' smaller-column' if text_column}}" data-bs-spy="scroll" data-bs-smooth-scroll="true" data-bs-target="#site-map">
      {% block main %}{% endblock main %}
      <br>
      {% if light_background -%}
      <div class="row">
        <div class="col designed-by-light"><a href="https://andreamado.github.io/me">{{ 'designed-by'|l10n(lang) }} André Amado</a></div>
      </div>
      {% else -%}
      <div class="row">
        <div class="col designed-by"><a href="https://andreamado.github.io/me">{{ 'designed-by'|l10n(lang) }} André Amado</a></div>
      </div>
      {% endif -%}
      {% if background_monkey -%}
      <div class="row">
        <div class="col designed-by"><a href="https://pixabay.com/users/21500104/">{{ 'background-by'|l10n(lang) }} Anne-Ed C.</a></div>
      </div>
      {% endif-%}
    </div>
    <script defer>
      // Reloads the page after 50 mins to refresh the csrf tokens and keep 
      // scripts access to the server
      setTimeout(
        () => { location.reload(); },
        3000000
      );
    </script>
  </body>
</html>