{% extends "base.html" %}

{% block main %}
<div class="container mx-5">
  <div class="row me-5">
    <div class="col-lg-6 text-end px-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.0056280163312!2d-9.153367488721814!3d38.71767977164523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19337bf8dabc47%3A0x5497e68afa455876!2sMuseu%20Nacional%20de%20Hist%C3%B3ria%20Natural%20e%20da%20Ci%C3%AAncia!5e0!3m2!1spt-PT!2sin!4v1706099722236!5m2!1spt-PT!2sin" width="100%" height="100%" style="border:0;" class="rounded-4" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-lg-6 justify-content-start text-white h4 main-content rounded-4 px-5">
      <p>
        <strong>Sede</strong> <br>
        Associação Portuguesa de Primatologia<br>
        Museu Nacional de História Natural<br>
        Rua da Escola Politécnica, 58 <br>
        1269-170 Lisboa
      </p>
      <br>
      <p>
        <strong>Email</strong><br>
        app [at] wherever.com
      </p>
      <br>
      <p>
        <a class="text-white link-underline link-underline-opacity-0" href="https://m.facebook.com/p/Associa%C3%A7%C3%A3o-Portuguesa-de-Primatologia-100082994737894/"><i class="fa-solid fa-link small"></i> <strong>Facebook</strong></a> <br>
      </p>
    </div>
  </div>
</div>
{% endblock main %}