{% extends "base.html" %}

{% block main %}
<div class="row">
  <h1 class="lh-1 mb-4 text-white">Eventos</h1>
</div>
<br>
<div class="row">
Nosdgasrgoih asgd fagdf fgregdf gdfg greg dfg dsf
dfgsdgasgd fagdf fgregdf gdfg greg dfg asgd fagdf fgregdf gdfg greg dfg 
asgd fagdf fgregdf gdfg greg dfg asgd fagdf fgregdf gdfg greg dfg asgd fagdf fgregdf gdfg greg dfg 
asgd fagdf fgregdf gdfg greg dfg 
asgd fagdf fgregdf gdfg greg dfg asgd fagdf fgregdf gdfg greg dfg asgd fagdf fgregdf gdfg greg dfg 
</div>
{% endblock main %}