{% extends "base.html" %}

{% block main %}
<div class="main-content rounded-4 text-white">
  <div class="container-fluid px-4 px-lg-0">
    <h1 class="lh-1 mb-4">Associação Portuguesa de Primatologia</h1>
    <p class="mb-5">A Associação Portuguesa de Primatologia tem por objectivo a promoção, desenvolvimento e divulgação da investigação no domínio da Primatologia.</p>
  </div>
</div>
<div class="social-icons">
  <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
      <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-dark m-3" href="https://m.facebook.com/p/Associa%C3%A7%C3%A3o-Portuguesa-de-Primatologia-100082994737894/"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
  </div>
</div>
{% endblock main %}