{% extends "base.html" %}

{% block main %}
<div class="main-content index rounded-4 text-white mt-0">
  <h1 class="lh-2 mb-4">{{ 'title' | l10n(lang) }}</h1>
  <p class="mb-5">{{ 'index-description' | l10n(lang) }}</p>

  <div class="container-flex">
    <div class="row">
      <div class="col-4">
        <a href="/"><img src="{{ url_for('static', filename='img/logo_300x300.jpg') }}" class="logo" alt="APP logo" style="width: 100px"></a>
      </div>
      <div class="col-3">
        <a class="social-icons btn btn-dark m-3" href="https://twitter.com/app_portuguese"><img src="{{ url_for('static', filename='img/twitter.svg') }}" alt="twitter logo" style="width: 20px;"></a>
      </div>
      <div class="col-3">
        <a class="social-icons btn btn-dark m-3" href="https://m.facebook.com/p/Associa%C3%A7%C3%A3o-Portuguesa-de-Primatologia-100082994737894/"><img src="{{ url_for('static', filename='img/facebook.svg') }}" alt="facebook logo" style="width: 20px;"></a>
      </div>
    </div>  
  </div>
</div>
{% endblock main %}