{% extends "base.html" %}

{% block main %}
<div class="row justify-content-center mt-3 mb-3 g-4">
  <div class="col-11 col-sm-10 col-md-8 col-xl-4 order-1 order-xl-2">
    <div class="index main-content rounded-4 text-white index-IXIPC-highlight index-join">
      <h2 class="mb-1">{{ 'IXIPC-title'|l10n(lang) }}</h2>
      <p class="lead">{{ 'IXIPC-register-dates'|l10n(lang) }}</p>
      <a href="{{ url_for('IX_IPC.IXIPC', language=lang) }}">{{'index-IXIPC-enroll'|l10n(lang)}}</a>
    </div>
  </div>
  <div class="col-11 col-sm-10 col-md-8 order-2 order-xl-1">
    <div class="main-content index rounded-4 text-white">
      <h1 class="lh-2 mb-4">{{ 'title' | l10n(lang) }}</h1>
      <p class="mb-5">{{ 'index-description' | l10n(lang) }}</p>
    
      <div class="container-flex">
        <div class="row">
          <div class="col col-sm-4">
            <a href="/"><img src="{{ url_for('static', filename='img/logo_300x300.jpg') }}" class="logo" alt="APP logo" style="width: 100px"></a>
          </div>
          <div class="col col-sm-3">
            <a class="social-icons btn btn-dark m-3" href="https://twitter.com/app_portuguese" target="_blank"><img src="{{ url_for('static', filename='img/twitter.svg') }}" alt="twitter logo" style="width: 20px;"></a>
          </div>
          <div class="col col-sm-3">
            <a class="social-icons btn btn-dark m-3" href="https://m.facebook.com/p/Associa%C3%A7%C3%A3o-Portuguesa-de-Primatologia-100082994737894/" target="_blank"><img src="{{ url_for('static', filename='img/facebook.svg') }}" alt="facebook logo" style="width: 20px;"></a>
          </div>
        </div>
        <div class="row mt-5 index-join">
          <div class="col"><a href="{{ url_for('juntate', language=lang) }}">{{'index-join'|l10n(lang)}}</a></div>
        </div>
      </div>    
    </div>
  </div>
</div>
{% endblock main %}