{% extends "base.html" -%}

{% block main -%}
  <div class="container">
    <div class="row me-5">
      <h1 class="lh-1 mb-4 text-white">{{ 'members-title' | l10n(lang) }}</h1>
      <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for member in direction %}
        <a class="col member-card" href="{{url_for('associado.profile', language=lang, id=member.id)}}">
          <div class="card h-100">
            <img class="card-img-top" src="{{url_for('file.get', id=member.photo)}}" alt="{{member.name}} photo">
            <div class="card-body">
              <h5 class="card-title">{{member.name}}</h5>
            </div>
            <div class="card-footer"><small class="text-muted">{{member.position_pt}}</small></div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock main -%}