{% extends "base.html" -%}

{% block main -%}
  <div class="container text-white mb-3">
    <div class="row">
      <h1 class="lh-1 mb-0">{{ 'members-title' | l10n(lang) }}</h1>
      <div class="row row-cols-1 row-cols-md-3 g-5">
        {% for member in direction %}
        <a class="col member-card text-white mb-2" href="{{url_for('associado.profile', language=lang, id=member.id)}}">
          <div class="h-100">
            <img class="rounded-circle w-100 mb-3" src="{{url_for('file.get', id=member.photo)}}" alt="{{member.name}} photo">
            <h5 class="ps-2 card-title">{{member.name}}</h5>
            <p class="ps-2 direction-position"><small>{{member.position_pt}}</small></p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock main -%}