{% extends "base.html" -%}
{% block main -%}
      <div class="main-content-dark smaller-column">
        <h1 class="lh-1 mb-4 text-white">{{ 'news-title'|l10n(lang) }}</h1>
        {% for news in g.news -%}
        <div class="text-white mb-5">
          <p class="mb-1 lead">
            {{ 'news-published-on'|l10n(lang) }} {{ news.date }}
            {% if news.modified %}
              <span class="news-modified">({{ 'news-modified'|l10n(lang) }} {{ news.modified }})</span>
            {% endif %}
          </p>
          <h2>{{ news.title }}</h2>
          {% if news.image %}
            {% include 'partials/news-image.html' %}
          {% endif %}
          {{ news.body|safe }}
        </div>  
        {% endfor -%}
      </div>
{% endblock main -%}