{% extends "base.html" %}

{% block main %}
<div class="main-content-dark">
  <div class="container mx-5 my-5">
    <h1 class="lh-1 mb-4 text-white">Notícias</h1>
    <div class="text-white">
      <h2>IX Iberian Primatological Conference</h2>
      <p>
        APP is happy to announce the IX Iberian Primatological Conference. 
        The conference will take place in Vila do Conde from 21 to 23 November 2024.
        Registration will be available from mid-April.
        Stay tuned!
      </p>
  
      <p>29/02/2024</p>
    </div>  
  </div>
</div>
{% endblock main %}