{% if abstract -%}
<form id="abstract-closed-{{ abstract.id }}" class="abstract-form-closed" action="" onclick="openAbstract({{ abstract.id }})">
  <input type="hidden" name="abstract-id" value="{{ abstract.id }}">
  {% if reload -%}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  {% else -%}
  {{ registration_form.csrf_token }}
  {% endif -%}
  <div class="rounded-4 card mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col">
            {% if abstract.title|length > 0 -%}
              <h5 class="card-title">{{ abstract.abstract_type|abstract_type(lang) }}: {{ abstract.title }}</h5>
            {% else -%}
              <h5 class="card-title">{{ abstract.abstract_type|abstract_type(lang) }}: {{ 'IXIPC-untitled'|l10n(lang) }}</h5>
            {% endif -%}
          </div>
        </div>
      </div>
    </div>
    {% if abstract.submitted -%}
      {% if abstract.acceptance_status == 1 -%}
      <div class="card-footer rounded-bottom-4 abstract-footer-text bg-success text-white text-center p-0">
        {{ 'IXIPC-abstract-accepted'|l10n(lang) }}
      </div>
      {% elif abstract.acceptance_status == 2 -%}
      <div class="card-footer rounded-bottom-4 abstract-footer-text bg-danger text-white text-center p-0">
        {{ 'IXIPC-abstract-rejected'|l10n(lang) }}
      </div>
      {% else -%}
      <div class="card-footer rounded-bottom-4 abstract-footer-text bg-success text-white text-center p-0">
        {{ 'IXIPC-abstract-submitted-long'|l10n(lang) }}
      </div>
      {% endif -%}
    {% else -%}
      {% if abstract.acceptance_status == 3 -%}
      <div class="card-footer rounded-bottom-4 abstract-footer-text bg-warning text-center p-0">
        {{ 'Resumo aceite condicionalmente - por favor corrige e resubmete'|l10n(lang) }}
      </div>
      {% else -%}
      <div class="card-footer rounded-bottom-4 abstract-footer-text bg-warning text-center p-0">
        {{ 'IXIPC-abstract-not-submitted-long'|l10n(lang) }}
      </div>
      {% endif -%}
    {% endif -%}
  </div>
</form>
{% endif -%}