<form id="abstract-{{abstract.id}}" action="" data-id="{{ abstract.id if abstract }}" data-status="open">
  <input type="hidden" id="abstract-id" name="abstract-id" value="{{ abstract.id if abstract }}">
  {% if reload -%}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  {% else -%}
  {{ csrf_token }}
  {% endif -%}
  <div class="rounded-4 card mb-3">
    <div class="card-body">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3 focus-ring" aria-label="Close" style="--bs-focus-ring-color: rgba(54, 81, 28, .25)" id="abstract-close-button"></button>
      <div class="container">
        <h5 class="card-title mb-3">{{ 'IXIPC-abstract-submission'|l10n(lang) }}</h5>
        <div class="row mb-3" id="abstract-type">
          <div class="col-3 col-sm-2">
            {% if abstract -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-poster" value="poster" autocomplete="off" {{'checked' if abstract.abstract_type == 1 }}>
            {% else -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-poster" value="poster" autocomplete="off" checked>
            {% endif -%}
            <label class="btn btn-outline-success" for="abstract-poster">{{ 'IXIPC-abstract-poster'|l10n(lang) }}</label>
          </div>
          <div class="col">
            {% if abstract -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-presentation" value="presentation" autocomplete="off" {{'checked' if abstract.abstract_type == 2 }}>
            {% else -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-presentation" value="presentation" autocomplete="off">
            {% endif -%}
            <label class="btn btn-outline-success" for="abstract-presentation">{{ 'IXIPC-abstract-presentation'|l10n(lang) }}</label>
          </div>
          <div class="form-text">{{ 'IXIPC-abstract-select-abstract-type'|l10n(lang) }}</div>
        </div>

        <!-- Scientific area -->
        <div class="row">
          <div class="col">
            <label for="abstract-title" class="form-label">{{ 'IXIPC-abstract-scientific-area'|l10n(lang) }}</label>
          </div>
        </div>
        {% set scientificAreaOptions = ['cognition', 'conservation', 'etnoprimatology', 'genetics', 'socioecology'] -%}
        <div class="row mb-3">
          <div class="col-12 col-md-5">
            <select class="form-select" id="scientific-area-{{abstract.id}}" name="scientific-area" aria-label="Scientific area">
              <option value="cognition" {{'selected' if (abstract.scientific_area == 'cognition' or abstract.scientific_area is none)}}>{{ 'IXIPC-abstract-scientific-area-cognition'|l10n(lang) }}</option>
              <option value="conservation" {{'selected' if abstract.scientific_area == 'conservation'}}>{{ 'IXIPC-abstract-scientific-area-conservation'|l10n(lang) }}</option>
              <option value="etnoprimatology" {{'selected' if abstract.scientific_area == 'etnoprimatology'}}>{{ 'IXIPC-abstract-scientific-area-etnoprimatology'|l10n(lang) }}</option>
              <option value="genetics" {{'selected' if abstract.scientific_area == 'genetics'}}>{{ 'IXIPC-abstract-scientific-area-genetics'|l10n(lang) }}</option>
              <option value="socioecology {{'selected' if abstract.scientific_area == 'socioecology'}}">{{ 'IXIPC-abstract-scientific-area-socioecology'|l10n(lang) }}</option>
              <option value="other" {{'selected' if abstract.scientific_area not in scientificAreaOptions}}>{{ 'IXIPC-abstract-scientific-area-other'|l10n(lang) }}</option>
            </select>
          </div>
          <div class="col-12 col-md-7">
            <input type="text" class="form-control" id="scientific-area-desc-{{abstract.id}}" name="scientific-area-desc" placeholder="{{ 'IXIPC-abstract-scientific-area'|l10n(lang) }}" value="{{abstract.scientific_area if abstract.scientific_area not in scientificAreaOptions}}" {{'hidden' if abstract.scientific_area in scientificAreaOptions}}>
          </div>
        </div>

        <!-- Title -->
        <div class="row mb-3">
          <div class="col">
            {% set max_title_length = 20 -%}
            <label for="abstract-title" class="form-label">{{ 'IXIPC-abstract-title'|l10n(lang) }}</label>
            <input type="text" name="title" id="abstract-title" class="form-control abstract-title" value="{{ abstract.title if abstract }}">
            <div class="form-text{{' too-many-words' if ((abstract.title|word_counter > max_title_length) or (abstract.title|word_counter < 1))}}" id="abstract-title-word-counter"><span class="word-counter">{{abstract.title|word_counter if abstract}}</span>/{{ max_title_length }} {{ 'IXIPC-abstract-words'|l10n(lang) }}</div>
          </div>
        </div>

        <!-- Body -->
        <div class="row mb-3">
          <div class="col">
            {% set max_abstract_length = 200 -%}
            <label for="abstract-body" class="form-label">{{ 'IXIPC-abstract-body'|l10n(lang) }}</label>
            <textarea name="abstract-body" id="abstract-body" rows="6" class="form-control" aria-describedby="abstract-character-counter">{{ abstract.abstract if abstract }}</textarea>
            <div class="form-text{{' too-many-words' if ((abstract.abstract|word_counter > max_abstract_length) or (abstract.abstract|word_counter < 1))}}" id="abstract-word-counter"><span class="word-counter">{{abstract.abstract|word_counter if abstract}}</span>/{{ max_abstract_length }} {{ 'IXIPC-abstract-words'|l10n(lang) }}</div>
          </div>
        </div>

        <!-- Keywords -->
        <div class="row mb-3">
          <div class="col">
            {% set max_keywords = 150 -%}
            <label for="abstract-keywords" class="form-label">{{ 'IXIPC-abstract-keywords'|l10n(lang) }}</label>
            <input type="text" name="abstract-keywords" id="abstract-keywords" class="form-control abstract-title" value="{{ abstract.keywords if abstract }}">
            <div class="form-text{{' too-many-words' if ((abstract.keywords|keyword_counter > 5) or (abstract.keywords|keyword_counter < 3))}}" id="abstract-keywords-word-counter"><span class="word-counter">{{abstract.keywords|keyword_counter if abstract}}</span> {{ 'IXIPC-abstract-words'|l10n(lang) }}</div>
            <div class="form-text">{{ 'IXIPC-abstract-keywords-explanation'|l10n(lang) }}</div>
          </div>
        </div>

        <!-- Authors -->
        <h5 class="card-title mb-3">{{ 'IXIPC-abstract-authors'|l10n(lang) }}</h5>
        <div class="row">
          <div class="col-6 px-2">
            <label for="selected-authors-{{ abstract.id }}" class="form-label">{{ 'IXIPC-abstract-authors-select'|l10n(lang) }}</label>
          </div>
          <div class="col-6 px-2">
            <label for="available-authors-{{ abstract.id }}" class="form-label">{{ 'IXIPC-abstract-authors-available'|l10n(lang) }} <span class="edit-button" data-bs-toggle="modal" data-bs-target="#edit-authors-modal">({{ 'IXIPC-abstract-edit'|l10n(lang) }})</span></label>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6 px-2">
            <div class="authors-box rounded-1 p-1 h-100" id="selected-authors-{{ abstract.id }}"></div>
          </div>
          <div class="col-6 px-2">
            <div class="authors-box rounded-1 p-1 h-100" id="available-authors-{{ abstract.id }}"></div>
          </div>
        </div>
        <div class="row mb-3 mt-5">
          <div class="col-auto px-2">
            <div class="authors-box rounded-1 p-1 h-100">
              <p class="mx-2 mb-0">{{ 'IXIPC-label'|l10n(lang) }}:</p>
              <p class="mx-2 mb-0">
                <img alt="speaker" class="speaker-selected" style="width:20px;" src='data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m 8 0 c -1.660156 0 -3 1.339844 -3 3 v 5 c 0 1.660156 1.339844 3 3 3 s 3 -1.339844 3 -3 v -5 c 0 -1.660156 -1.339844 -3 -3 -3 z m -6 6 v 2.011719 c 0 2.964843 2.164062 5.429687 5 5.90625 v 2.082031 h 2 v -2.082031 c 2.835938 -0.476563 5 -2.941407 5 -5.90625 v -2.011719 h -1.5 v 2.011719 c 0 2.5 -1.992188 4.488281 -4.5 4.488281 s -4.5 -1.988281 -4.5 -4.488281 v -2.011719 z m 0 0" fill="%23fff"/></svg>'>
                {{ 'IXIPC-abstract-speaker'|l10n(lang)|capitalize }}
              </p>
              <p class="mx-2 mb-0">
                <img alt="speaker" class="speaker" style="width:20px;" src='data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m 8 0 c -1.660156 0 -3 1.339844 -3 3 v 0.9375 l -3.46875 -3.46875 l -1.0625 1.0625 l 14 14 l 1.0625 -1.0625 l -2.792969 -2.792969 c 0.789063 -1.011719 1.261719 -2.285156 1.261719 -3.664062 v -2.011719 h -1.5 v 2.011719 c 0 0.972656 -0.304688 1.867187 -0.824219 2.601562 l -1.089843 -1.089843 c 0.261718 -0.445313 0.414062 -0.964844 0.414062 -1.523438 v -5 c 0 -1.660156 -1.339844 -3 -3 -3 z m -6 6 v 2.011719 c 0 2.964843 2.164062 5.429687 5 5.90625 v 2.082031 h 2 v -2.082031 c 0.5 -0.085938 0.976562 -0.230469 1.425781 -0.429688 l -1.164062 -1.164062 c -0.398438 0.113281 -0.824219 0.175781 -1.261719 0.175781 c -2.507812 0 -4.5 -1.988281 -4.5 -4.488281 v -1.449219 l -0.5625 -0.5625 z m 3.003906 2.066406 c 0.035156 1.609375 1.320313 2.894532 2.929688 2.929688 z m 0 0" fill="%23fff"/></svg>'>
                {{ 'IXIPC-abstract-non-speaker'|l10n(lang)|capitalize }}
              </p>  
            </div>
          </div>
          <div class="col">
            <p class="mt-0 mb-0"><span class="edit-button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">{{'IXIPC-help-me'|l10n(lang)}}</span></p>
            <div class="collapse form-text mt-0" id="collapseHelp">
              1. <span class="edit-button" data-bs-toggle="modal" data-bs-target="#edit-authors-modal">{{'IXIPC-abstract-authors-drag-and-drop-1'|l10n(lang)}}</span>
              {{'IXIPC-abstract-authors-drag-and-drop-2'|l10n(lang)}}
            </div>    
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="form-text mb-3 bg-warning rounded-1 pt-1 pb-2 px-4" id="submission-warnings" hidden></div>
          </div>
        </div>

        <div class="d-flex flex-row mb-3">
          <div class="col">
            <button type="button" id="abstract-submit" class="btn btn-primary">{{ 'IXIPC-abstract-submit'|l10n(lang) }}</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button type="button" id="abstract-delete" class="btn btn-danger">{{ 'IXIPC-abstract-delete'|l10n(lang) }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="save-feedback" class="card-footer rounded-bottom-4 abstract-footer-text text-white text-center p-0">
      &nbsp;
    </div>
  </div>
</form>