{% if not abstract.submitted %}
<form id="abstract-{{abstract.id}}" action="" data-id="{{ abstract.id if abstract }}" data-status="open">
  <input type="hidden" id="abstract-id" name="abstract-id" value="{{ abstract.id if abstract }}">
  {% if reload -%}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  {% else -%}
  {{ csrf_token }}
  {% endif -%}
  <div class="rounded-4 card mb-3">
    <div class="card-body">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3 focus-ring" aria-label="Close" style="--bs-focus-ring-color: rgba(54, 81, 28, .25)" id="abstract-close-button"></button>
      <div class="container">
        <h5 class="card-title mb-3">{{ 'IXIPC-abstract-submission'|l10n(lang) }}</h5>
        <div class="row mb-3" id="abstract-type">
          <div class="col-3 col-sm-2">
            {% if abstract -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-poster" value="poster" autocomplete="off" {{'checked' if abstract.abstract_type == 1 }}>
            {% else -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-poster" value="poster" autocomplete="off" checked>
            {% endif -%}
            <label class="btn btn-outline-success" for="abstract-poster">{{ 'IXIPC-abstract-poster'|l10n(lang) }}</label>
          </div>
          <div class="col">
            {% if abstract -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-presentation" value="presentation" autocomplete="off" {{'checked' if abstract.abstract_type == 2 }}>
            {% else -%}
            <input type="radio" class="btn-check" name="abstract_type" id="abstract-presentation" value="presentation" autocomplete="off">
            {% endif -%}
            <label class="btn btn-outline-success" for="abstract-presentation">{{ 'IXIPC-abstract-presentation'|l10n(lang) }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {% set max_title_length = 150 -%}
            <label for="abstract-title" class="form-label">{{ 'IXIPC-abstract-title'|l10n(lang) }}</label>
            <input type="text" name="title" id="abstract-title" class="form-control abstract-title" maxlength="{{ max_title_length }}" value="{{ abstract.title if abstract }}">
            <div class="form-text"><span id="abstract-title-character-counter" class="abstract-title-character-counter">{{abstract.title|length if abstract}}</span>/{{ max_title_length }} {{ 'IXIPC-abstract-characters'|l10n(lang) }}</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {% set max_abstract_length = 500 -%}
            <label for="abstract-body" class="form-label">{{ 'IXIPC-abstract-body'|l10n(lang) }}</label>
            <textarea name="abstract-body" id="abstract-body" rows="6" class="form-control" maxlength="{{ max_abstract_length }}" aria-describedby="abstract-character-counter">{{ abstract.abstract if abstract }}</textarea>
            <div class="form-text"><span id="abstract-character-counter">{{abstract.abstract|length if abstract}}</span>/{{ max_abstract_length }} {{ 'IXIPC-abstract-characters'|l10n(lang) }}</div>
          </div>
        </div>

        <h5 class="card-title mb-3">{{ 'IXIPC-abstract-authors'|l10n(lang) }}</h5>
        <div class="row mb-4">
          <div class="col-6 px-2">
            <label for="selected-authors" class="form-label">{{ 'IXIPC-abstract-authors-select'|l10n(lang) }}</label>
            <div class="authors-box rounded-1 p-1 h-100" id="selected-authors"></div>
          </div>
          <div class="col-6 px-2">
            <label for="available-authors" class="form-label">{{ 'IXIPC-abstract-authors-available'|l10n(lang) }}</label>
            <div class="authors-box rounded-1 p-1 h-100" id="available-authors"></div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-text">{{'IXIPC-abstract-authors-drag-and-drop'|l10n(lang)}}</div>
          </div>
        </div>

        <div class="d-flex flex-row mb-3">
          <div class="col">
            <button type="button" id="abstract-submit" class="btn btn-primary">{{ 'IXIPC-abstract-submit'|l10n(lang) }}</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button type="button" id="abstract-delete" class="btn btn-danger">{{ 'IXIPC-abstract-delete'|l10n(lang) }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="save-feedback" class="card-footer rounded-bottom-4 abstract-footer-text text-white text-center p-0">
      &nbsp;
    </div>
  </div>
</form>
{# If abstract submitted #}
{% else %}
<form id="abstract-{{abstract.id}}" data-id="{{ abstract.id if abstract }}"  data-status="closed">
  <input type="hidden" id="abstract-id" name="abstract-id" value="{{ abstract.id if abstract }}">
  <input type="hidden" id="abstract-submitted" name="abstract-submitted" value="true">
  {% if reload -%}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  {% else -%}
  {{ csrf_token }}
  {% endif -%}
  <div class="rounded-4 card mb-3">
    <div class="card-body">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3 focus-ring" style="--bs-focus-ring-color: rgba(54, 81, 28, .25)" aria-label="Close" id="abstract-close-button"></button>
      <h5 class="card-title mb-3">{{ 'IXIPC-abstract-submitted'|l10n(lang) }} — {{ abstract.abstract_type|abstract_type(lang) }}</h5>
      <div class="container">
        <div class="row mb-3">
          <div class="row mb-3">
            <div class="col">
              <h3 id="abstract-title" class="abstract-title">
                {{ abstract.title }}
              </h3>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <p>{{ abstract.abstract }}</p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col">
              <h5 class="card-title">{{ 'IXIPC-abstract-authors'|l10n(lang) }}</h5>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <ol>
                {% for author in authors -%}
                <li>{{author.firstName}} {{author.lastName}} {{ ('(' + 'IXIPC-abstract-speaker'|l10n(lang) + ')') if author.presenter}}</li>
                {% endfor -%}
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-text">{{ 'IXIPC-abstract-submitted-on'|l10n(lang) }} {{ abstract.submitted_on|date }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
</form>
{% endif %}