{% extends "base.html" -%}

{% block main -%}
<div class="main-content-dark smaller-column">
  <hr class="separator mb-5">
  <h1 id="IXIPC-title" class="lh-1 mb-4 text-white" data-offset="100">{{ 'IXIPC-title'|l10n(lang) }}</h1>
  <img class="mb-3" src="{{ url_for('static', filename='img/pexels-egor-kamelev-802208_small.jpg') }}" width="100%" alt="" style="opacity:0.9;">
  <div class="text-white lead mb-5">
    {{ 'IXIPC-description'|l10n(lang)|safe }}
  </div>

  <hr class="separator mb-5">

  <div class="text-white mb-5" id="essential-information">
    <h2 class="mb-1">{{ 'IXIPC-essential-information'|l10n(lang) }}</h2>
    <p class="lead mb-0">{{ 'IXIPC-dates'|l10n(lang) }}: <strong>{{ 'IXIPC-register-dates'|l10n(lang) }}</strong> (2024)</p>
    <p class="lead">{{ 'IXIPC-place'|l10n(lang) }}: <strong>Auditório Municipal - Vila do Conde</strong> (Portugal)</p>
    <div class="col-lg-6 text-end w-100">
      <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12331.156050207355!2d-8.750362500198147!3d41.35174212548796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd244406dbde29f3%3A0x4c7d869a165163ed!2sAudit%C3%B3rio%20Municipal!5e0!3m2!1sen!2spt!4v1710515659700!5m2!1sen!2spt" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) -%}
      {% if messages -%}
        {% for category, message in messages -%}
          <div class="alert alert-{{category}} rounded-4" role="alert">
            {{ message|safe }}
          </div>
        {% endfor -%}
      {% endif -%}
    {% endwith -%}
  </div>

  <hr class="separator mb-5">

  <div class="text-white mb-5" id="timeline">
    <h2 class="mb-4">{{ 'IXIPC-timeline'|l10n(lang) }}</h2>
    <div class="lead">
      <div class="row">
        <div class="col-4">mid April</div>
        <div class="col">Enrollment available</div>
      </div>
      <div class="row">
        <div class="col-4">June 25th</div>
        <div class="col">Abstract submission</div>
      </div>
      <div class="row">
        <div class="col-4">July 35th</div>
        <div class="col">Abstract selection</div>
      </div>
      <div class="row">
        <div class="col-4">August 12th</div>
        <div class="col">Payment deadline</div>
      </div>
      <div class="row">
        <div class="col-4">November 21-23</div>
        <div class="col">Conference</div>
      </div>  
    </div>
  </div>

  <hr class="separator mb-5">

  <div class="text-white mb-5" id="program">
    <h2 class="mb-4">{{ 'IXIPC-program'|l10n(lang) }}</h2>
    <h3 class="mb-3">{{ 'IXIPC-invited-speakers'|l10n(lang) }}</h3>
    <div class="row g-3 mb-5">
      <div class="col-12 col-sm-6 order-2 order-sm-1"><img class="IXIPC-invited-speaker w-100" src="{{ url_for('static', filename='img/man-person-black-and-white-photography-old-portrait-35917-pxhere.com.jpg') }}" alt=""></div>
      <div class="col-12 col-sm-6 order-1 order-sm-2">
        <h4>Zé Chimp</h4>
        Zé Chimp has been studying homo sapiens from time immemorial. He is one of the most famous humanologists in history.
        Zé Chimp will present his research on tool usage by homo sapiens, a subject that did not always received the attention it deserves.
      </div>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-12 col-sm-6">
        <h4>Filipa Borges</h4>
        This person studies poo from primates. For some surprising reason, she decided to focus on non-human primates...
      </div>
      <div class="col-12 col-sm-6"><img class="IXIPC-invited-speaker w-100" src="{{ url_for('static', filename='img/1200px-Colobus_angolensis_3X2.jpg') }}" alt=""></div>
    </div>
  </div>

  <hr class="separator mb-5">

  {% if not g.IXIPC_user -%}

  <div class="text-white mb-5" id="personal-area">
    <h2 class="mb-1">{{ 'IXIPC-personal-area'|l10n(lang) }}</h2>
    <p class="lead">{{ 'IXIPC-register-to-submit'|l10n(lang) }}</p>
  </div>

  <div class="container mb-5">
    <!-- register form -->
    <div class="row mb-3">
      <div class="col-12 col-md-6 g-3">
        <div class="card rounded-4 mb-3 h-100">
          <div class="card-body">
            <h2 class="lh-1 mb-4">{{ 'IXIPC-register'|l10n(lang) }}</h2>
            <div class="row mb-3">
              <form action="{{ url_for('IX_IPC.register_user', language=lang) }}" method="post">
                {{ form.csrf_token }}
                <div class="col-12 mb-3">
                  <label for="first-name" class="form-label">{{ 'IXIPC-register-first-name'|l10n(lang) }}</label>
                  <input type="text" class="form-control" id="first-name" name="first-name">
                </div>
                {# <div class="col-12 mb-3">
                  <label for="last-name" class="form-label">{{ 'IXIPC-register-last-name'|l10n(lang) }}</label>
                  <input type="text" class="form-control" id="last-name" name="last-name">
                </div> #}
                <div class="col-12 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">{{ 'IXIPC-register-submit'|l10n(lang) }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- login form -->
      <div class="col-12 col-md-6 g-3">
        <div class="card rounded-4 mb-3 h-100">
          <div class="card-body">
            <h2 class="lh-1 mb-4">{{ 'IXIPC-login'|l10n(lang) }}</h2>
            <div class="row mb-3">
              <form action="{{ url_for('IX_IPC.login', language=lang) }}" method="post">
                {{ form.csrf_token }}
                <div class="col-12 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-12 mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">{{ 'IXIPC-register-submit'|l10n(lang) }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else -%}
  <div class="text-white mb-5" id="personal-area">
      <h2 class="mb-1">{{ 'IXIPC-hi'|l10n(lang) }}, {{ g.IXIPC_user.name }}!</h2>
      <p class="lead mb-5">{{ 'IXIPC-register-to-submit-logged-in'|l10n(lang) }}</p>
    

    <div class="container text-white mb-5">
      <form id="personal-data" action="">
        {{ form.csrf_token }}
        <div class="rounded-4 card mb-3 abstract-new">
          <div class="card-body">
            <h5 class="card-title mb-0">
              {{ 'IXIPC-personal-data'|l10n(lang) }}
            </h5>
          </div>
        </div>
      </form>
      <div class="row mb-3">
        <div class="col">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" name="email" id="email" type="text" value="{{g.IXIPC_user.email}}">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="first-name" class="form-label">{{ 'IXIPC-personal-data-first-name'|l10n(lang) }}</label>
          <input name="first-name" id="first-name" type="text" class="form-control">
        </div>
        <div class="col">
          <label for="last-name" class="form-label">{{ 'IXIPC-personal-data-last-name'|l10n(lang) }}</label>
          <input name="last-name" id="last-name" type="text" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="institution" class="form-label">{{ 'IXIPC-personal-data-institution'|l10n(lang) }}</label>
          <input name="institution" id="institution" type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="container text-white mb-5">
      <form action="">
        {{ form.csrf_token }}
        <div class="rounded-4 card mb-3 abstract-new">
          <div class="card-body">
            <h5 class="card-title mb-0">
              {{ 'IXIPC-abstract-body'|l10n(lang) }}s
            </h5>
          </div>
        </div>
      </form>

      <div class="container mb-5">
        <div id="abstract-forms-container">
          {% for abstract in abstracts -%}
          <div id="abstract-{{ abstract.id }}">
            {% include "abstract-form-closed.html" -%}
          </div>
          {% endfor -%}
        </div>
        <form id="abstract-new" action="" class="mb-5">
          {{ form.csrf_token }}
          <button type="button" class="btn btn-primary text-white" type="submit">
            <img src='data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12H15" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 9L12 15" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" stroke="%23fff" stroke-width="2"/></svg>' alt="" style="height: 25px;">
            <span class="text-white">{{ 'IXIPC-abstract-new-abstract'|l10n(lang) }}</span>
          </button>
        </form>
      </div>
    </div>

    <!-- Authors -->
    <div class="container text-white mb-5">
      <form id="edit-authors" action="">
        {{ form.csrf_token }}
        <div class="rounded-4 card mb-3 abstract-new">
          <div class="card-body">
            <h5 class="card-title mb-0">
              {{ 'IXIPC-abstract-authors'|l10n(lang)|l10n(lang) }}
            </h5>
          </div>
        </div>
      </form>
    </div>
    <div class="container mb-5">
      <div class="row mb-3">
        <div class="accordion" id="accordion-authors"></div>
      </div>
      <button type="button" class="btn btn-primary text-white" type="submit" id="new-author-button">
        <img src='data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12H15" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 9L12 15" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" stroke="%23fff" stroke-width="2"/></svg>' alt="" style="height: 25px;">
        <span class="text-white">{{ 'IXIPC-abstract-new-author'|l10n(lang) }}</span>
      </button>
    </div>
    
    <!-- Payment proof -->
    <div class="mb-5">
      <h4 class="mb-0">{{'IXIPC-upload-payment-proof'|l10n(lang)}}</h4>
      <img src="" alt="" id="upload-result" class="upload-result">
      {% with upload_area={'id': 'IXIPC-upload-payment-proof'} -%}
        {% include "partials/upload-form.html" -%}
      {% endwith -%}
      <p id="upload-result-text" class="lead upload-result-text">&nbsp;</p>
    </div>
    
    <!-- Logout -->
    <div class="mb-5">
      <form action="{{ url_for('IX_IPC.logout', language=lang) }}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" id="user_id" name="user_id" value="{{ g.user.id }}"> 
        <button type="submit" class="btn btn-primary">{{ 'IXIPC-logout'|l10n(lang) }}</button>
      </form>  
    </div>
  </div>

  {% include "scripts/upload-form.html" -%}
  {% include "scripts/character-counter.html" -%}
  {% include "scripts/open-abstract.html" -%}
  
  <script src="{{ url_for('static', filename='js/Sortable.js') }}"></script>
  <script defer>
    makeUploader(
      dropArea = document.getElementById('IXIPC-upload-payment-proof'),
      csrfToken = '{{ csrf_token() }}'
    );
    const addAbstract = (event) => {
      event.preventDefault();
      let id = null;
      let container = document.getElementById('abstract-forms-container');
      fetch("{{ url_for('IX_IPC.create_new_abstract', language=lang) }}", {
        method: 'POST',
        body: new FormData(document.getElementById('abstract-new'))
      })
      .then((response) => response.json())
      .then((data) => {
        const div = document.createElement('div');
        id = data['id'];
        div.id = 'abstract-' + String(id);
        div.innerHTML = data['html'];
        container.appendChild(div);
      })
      .catch((e) => console.log(e));

      const callback = (mutationList, observer) => {
        document.getElementById('abstract-' + String(id)).scrollIntoView({behavior: "smooth", block: "center"});
        observer.disconnect();
      }

      const config = { attributes: false, childList: true, subtree: false };
      const observer = new MutationObserver(callback);
      observer.observe(container, config);
    }

    document.getElementById('abstract-new').addEventListener(
      'click',
      addAbstract
    );

    function isInteger(value) {
      return !isNaN(parseInt(value)) && isFinite(value);
    }

    // Object that manages the authors lists and updates 
    // the elements as they change
    const authorsManager = () => {
      let _authors = {};
      let authorsToSave = {};
      let abstractAuthorsToSave = {};
      let abstracts = {};

      // Load authors from database
      let form = new FormData();
      form.append('csrf_token', '{{ csrf_token() }}');

      fetch("{{ url_for('IX_IPC.load_authors') }}", {
        method: 'POST',
        body: form
      })
      .then((response) => response.json())
      .then((data) => {
        for(let idx in data.authors) {
          let author = data.authors[idx];
          authors[author.id] = author;
          editAuthorsForm.insertAdjacentElement('beforeend', createAuthorHTMLElement(author));
        }
        authorsToSave = {};
      })
      .catch((e) => console.log(e));

      // Proxy to authors that allows us to intercept any changes and display or save them
      let authors = new Proxy(_authors, {
        deleteProperty: function(target, property) {
          let id = target[property].id;
          //TODO: implement author deletion
          //      or maybe not because it can cause conflict with submitted abstracts
          return Reflect.deleteProperty(...arguments);
        },
        set: function(target, property, value, receiver) {
          target[property] = value;
          if(isInteger(property)) {
            const author_id = value.id;
            authorsToSave[author_id] = value;
            setTimeout(saveAuthors, 3000);
            for(const abstract_id in abstracts) {
              let abstract = abstracts[abstract_id];
              let fullName = authorFullname(_authors[author_id]);
              if(author_id in abstract.selectedAuthors && abstract.selectedAuthors[author_id]) {
                let author = abstract.selectedAuthorsBox.querySelector('#author-' + String(author_id));
                author.dataset.content = fullName;
                author.innerHTML = fullName;
              } else if(author_id in abstract.availableAuthors && abstract.availableAuthors[author_id]) {
                let author = abstract.availableAuthorsBox.querySelector('#author-' + String(author_id));
                author.dataset.content = fullName;
                author.innerHTML = fullName;
              } else {
                abstract.availableAuthors[author_id] = value;
                const fullName = authorFullname(_authors[author_id]);
                abstract.availableAuthorsBox.insertAdjacentHTML('beforeend',
                  `<div id="author-${author_id}" class="author-name rounded-1 p-1 mb-1" data-content="${fullName}" data-author-id="${author_id}">${fullName}</div>`
                );
              }
            }
          }
          return true;
        }
      });

      /*const selectedAuthorsProxy = (abstractId) => new Proxy({}, {
        deleteProperty: function(target, property) {
          target[property] = undefined;
          if(isInteger(property)) {
            flagAndSaveAbstractAuthors(abstractId);
          }
          return true;
        },
        set: function(target, property, value, receiver) {
          target[property] = value;
          if(isInteger(property)) {
            flagAndSaveAbstractAuthors(abstractId);
          }
          return true;
        }
      });*/

      let editAuthorsForm = document.getElementById('accordion-authors');

      const authorFullname = (author) => {
        let fullName = author.firstName + ' ' + author.lastName;
        if(fullName === ' ') {
          fullName = "{{'IXIPC-no-name'|l10n(lang)}}";
        }
        return fullName;
      }

      const moveAuthor = (id, abstractId, origin, destination, order) => {
        let abstract = abstracts[abstractId];
        let author = abstract[origin][id];

        if(author) {
          author.order = order;
          if(destination != origin) {
            abstract[destination][id] = author;
            abstract[origin][id] = undefined;
          }
        }
      }

      const registerAbstract = (abstractElement, abstractId) => {
        let abstract = {
          'id': abstractId,
          'element': abstractElement,
          'selectedAuthors': {},//selectedAuthorsProxy(abstractId),
          'availableAuthors': Object.assign({}, _authors),
          'selectedAuthorsBox': abstractElement.querySelector('#selected-authors'),
          'availableAuthorsBox': abstractElement.querySelector('#available-authors')
        };

        //TODO: check the database for the authors that are selected and update the lists
        
        // Reuse this code - AAA
        for(let id in abstract.availableAuthors) {
          const fullName = authorFullname(_authors[id]);
          abstract.availableAuthorsBox.insertAdjacentHTML('beforeend',
            `<div id="author-${id}" class="author-name rounded-1 p-1 mb-1" data-content="${fullName}" data-author-id="${id}">${fullName}</div>`
          );
        }

        for(let i = 0; i < abstract.selectedAuthors.length; i++) {
          let author = abstract.selectedAuthors[i];
          abstract.selectedAuthorsBox.insertAdjacentHTML('beforeend',
            `<div id="author-${id}" class="author-name rounded-1 p-1 mb-1" data-order="${i}" data-content="${author.fullName}" data-author-id="${author.id}">${i+1}. ${author.fullName}</div>`
          );
        }

        abstracts[abstractId] = abstract;
      };

      const updateAuthor = (target) =>
        () => {
          const id = target.dataset.id;
          let author = _authors[id];
          
          author.firstName = target.querySelector('#first-name').value;
          author.lastName = target.querySelector('#last-name').value;

          target.querySelector('#author-header').innerHTML = authorFullname(author);
          authors[id] = author;
        };

      const createAuthorHTMLElement = (author) => {
        let authorForm = document.createElement('div');
        authorForm.dataset.id = author.id;
        
        authorForm.classList.add('accordion-item');
        authorForm.insertAdjacentHTML('beforeend',
          `<h2 class="accordion-header">
            <button id="author-header" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#author-edit-${author.id}" aria-expanded="false" aria-controls="author-edit-${author.id}"></button>
          </h2>`
        );

        const firstNameLabel = "{{ 'IXIPC-personal-data-first-name'|l10n(lang) }}";
        const lastNameLabel = "{{ 'IXIPC-personal-data-last-name'|l10n(lang) }}";
        authorForm.insertAdjacentHTML('beforeend',
          `<div id="author-edit-${author.id}" class="accordion-collapse collapse" data-bs-parent="#accordion-authors">
            <div class="accordion-body">
              <form action="">
                <div class="row mb-3">
                  <div class="col">
                    <label for="first-name" class="form-label">${firstNameLabel}</label>
                    <input name="first-name" id="first-name" type="text" class="form-control" value="${author.firstName}">
                  </div>
                  <div class="col">
                    <label for="last-name" class="form-label">${lastNameLabel}</label>
                    <input name="last-name" id="last-name" type="text" class="form-control" value="${author.lastName}">
                  </div>
                </div>
                <div class="w-100 card-footer abstract-footer-text text-white text-center p-0" id="author-saved-${author.id}">&nbsp;</div>
              </form>
            </div>
          </div>`
        );

        authorForm.addEventListener(
          'input',
          updateAuthor(authorForm)
        );
        updateAuthor(authorForm)();

        return authorForm;
      };

      const displayAuthor = (id) => {
        editAuthorsForm.insertAdjacentElement('beforeend', createAuthorHTMLElement(_authors[id]));
      }

      const addAuthor = () => {
        let newAuthor = {
          'firstName': '',
          'lastName': '',
          'id': null
        };
  
        let form = new FormData();
        form.append('csrf_token', '{{ csrf_token() }}');
        
        fetch("{{ url_for('IX_IPC.new_author') }}", {
          method: 'POST',
          body: form
        })
        .then((response) => response.json())
        .then((data) => {
          newAuthor.id = data.id;
          authors[newAuthor.id] = newAuthor;
          editAuthorsForm.insertAdjacentElement('beforeend', createAuthorHTMLElement(newAuthor));
        })
        .catch((e) => console.log(e));
      };
      
      const saveAuthors = () => {
        if(Object.keys(authorsToSave).length > 0) {
          let form = new FormData();
          form.append('csrf_token', '{{ csrf_token() }}');
          form.append('authors', JSON.stringify(authorsToSave));

          for(let id in authorsToSave) {
            let elem = document.getElementById('author-saved-' + String(id));
            elem.innerHTML = "{{ 'IXIPC-saved-author'|l10n(lang) }}";
            elem.classList.add('bg-primary');
            setTimeout(() => {
              elem.innerHTML = '&nbsp;';
              elem.classList.remove('bg-primary');
            }, 4000);
          }

          authorsToSave = {};
  
          fetch("{{ url_for('IX_IPC.save_authors') }}", {
            method: 'POST',
            body: form
          })
          .catch((e) => console.log(e));
        }
      }

      const flagAndSaveAbstractAuthors = (id) => {
        abstractAuthorsToSave[id] = true;
        setTimeout(saveAbstractAuthors, 3000);
      }

      const saveAbstractAuthors = () => {
        if(Object.keys(abstractAuthorsToSave).length > 0){
          let form = new FormData();
          form.append('csrf_token', '{{ csrf_token() }}');

          let abstractAuthors = {};
          for(let id in abstractAuthorsToSave) {
            let elem = document.getElementById('abstract-' + String(id));
            let selectedAuthorsElement = elem.querySelector('#selected-authors');

            abstractAuthors[id] = []
            let abstract = abstracts[id];
            selectedAuthorsElement.childNodes.forEach((child, i) => {
              abstractAuthors[id].push([child.dataset.authorId, child.dataset.order]);
            });
          }
          form.append('abstractAuthors', JSON.stringify(abstractAuthors));
          abstractAuthorsToSave = {};

          fetch("{{ url_for('IX_IPC.save_abstract_authors') }}", {
            method: 'POST',
            body: form
          })
          .catch((e) => console.log(e));
        }
      }

      // Display existing authors in authors editing form
      for(let id in _authors) {
        displayAuthor(id);
      }

      return {
        'addAuthor': addAuthor,
        'moveAuthor': moveAuthor,
        'registerAbstract': registerAbstract,
        'saveAuthors': saveAuthors,
        'saveAbstractAuthors': saveAbstractAuthors,
        'flagAndSaveAbstractAuthors': flagAndSaveAbstractAuthors
      }
    };
    let authors = authorsManager();

    document.getElementById('new-author-button').addEventListener(
      'click',
      authors.addAuthor
    );
  </script>
  {% endif -%}
  
  <hr class="separator mb-5">  
</div>

{% if site_map -%}
<div class="site-map">
  <a href="#IXIPC-title" class="nav-link">{{ 'IXIPC-title'|l10n(lang) }}</a>
  <a href="#essential-information" class="nav-link">{{ 'IXIPC-essential-information'|l10n(lang) }}</a>
  <a href="#timeline" class="nav-link">{{ 'IXIPC-timeline'|l10n(lang) }}</a>
  <a href="#program" class="nav-link">{{ 'IXIPC-program'|l10n(lang) }}</a>
  <a href="#personal-area" class="nav-link">{{ 'IXIPC-personal-area'|l10n(lang) }}</a>
</div>
{% endif -%}

{% endblock main -%}