{% extends "base.html" -%}

{% block main -%}
<div class="main-content-dark smaller-column">
  <hr class="separator mb-5">
  <h1 id="IXIPC-title" class="lh-1 mb-4 text-white" data-offset="100">{{ 'IXIPC-title'|l10n(lang) }}</h1>
  <img class="mb-3" src="{{ url_for('static', filename='img/pexels-egor-kamelev-802208_small.jpg') }}" width="100%" alt="" style="opacity:0.9;">
  <div class="text-white lead mb-5">
    {{ 'IXIPC-description'|l10n(lang)|safe }}
  </div>

  <hr class="separator mb-5">

  <div class="text-white mb-5" id="essential-information">
    <h2 class="mb-1">{{ 'IXIPC-essential-information'|l10n(lang) }}</h2>
    <p class="lead mb-0">{{ 'IXIPC-dates'|l10n(lang) }}: <strong>{{ 'IXIPC-register-dates'|l10n(lang) }}</strong> (2024)</p>
    <p class="lead">{{ 'IXIPC-place'|l10n(lang) }}: <strong>Auditório Municipal - Vila do Conde</strong> (Portugal)</p>
    <div class="col-lg-6 text-end w-100">
      <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12331.156050207355!2d-8.750362500198147!3d41.35174212548796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd244406dbde29f3%3A0x4c7d869a165163ed!2sAudit%C3%B3rio%20Municipal!5e0!3m2!1sen!2spt!4v1710515659700!5m2!1sen!2spt" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) -%}
      {% if messages -%}
        {% for category, message in messages -%}
          <div class="alert alert-{{category}} rounded-4" role="alert">
            {{ message|safe }}
          </div>
        {% endfor -%}
      {% endif -%}
    {% endwith -%}
  </div>

  <hr class="separator mb-5">

  <div class="text-white mb-5" id="timeline">
    <h2 class="mb-4">{{ 'IXIPC-timeline'|l10n(lang) }}</h2>
    <div class="lead">
      <div class="row">
        <div class="col-4">mid April</div>
        <div class="col">Enrollment available</div>
      </div>
      <div class="row">
        <div class="col-4">June 25th</div>
        <div class="col">Abstract submission</div>
      </div>
      <div class="row">
        <div class="col-4">July 35th</div>
        <div class="col">Abstract selection</div>
      </div>
      <div class="row">
        <div class="col-4">August 12th</div>
        <div class="col">Payment deadline</div>
      </div>
      <div class="row">
        <div class="col-4">November 21-23</div>
        <div class="col">Conference</div>
      </div>  
    </div>
  </div>

  <hr class="separator mb-5">

  <div class="text-white mb-5" id="program">
    <h2 class="mb-4">{{ 'IXIPC-program'|l10n(lang) }}</h2>
    <h3 class="mb-3">{{ 'IXIPC-invited-speakers'|l10n(lang) }}</h3>
    <div class="row g-3 mb-5">
      <div class="col-12 col-sm-6 order-2 order-sm-1"><img class="IXIPC-invited-speaker w-100" src="{{ url_for('static', filename='img/man-person-black-and-white-photography-old-portrait-35917-pxhere.com.jpg') }}" alt=""></div>
      <div class="col-12 col-sm-6 order-1 order-sm-2">
        <h4>Zé Chimp</h4>
        Zé Chimp has been studying homo sapiens from time immemorial. He is one of the most famous humanologists in history.
        Zé Chimp will present his research on tool usage by homo sapiens, a subject that did not always received the attention it deserves.
      </div>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-12 col-sm-6">
        <h4>Filipa Borges</h4>
        This person studies poo from primates. For some surprising reason, she decided to focus on non-human primates...
      </div>
      <div class="col-12 col-sm-6"><img class="IXIPC-invited-speaker w-100" src="{{ url_for('static', filename='img/1200px-Colobus_angolensis_3X2.jpg') }}" alt=""></div>
    </div>
  </div>

  <hr class="separator mb-5">

  {% if not g.IXIPC_user -%}

  <div class="text-white mb-5" id="personal-area">
    <h2 class="mb-1">{{ 'IXIPC-personal-area'|l10n(lang) }}</h2>
    <p class="lead">{{ 'IXIPC-register-to-submit'|l10n(lang) }}</p>
  </div>

  <div class="container mb-5">
    <!-- register form -->
    <div class="row mb-3">
      <div class="col-12 col-md-6 g-3">
        <div class="card rounded-4 mb-3 h-100">
          <div class="card-body">
            <h2 class="lh-1 mb-4">{{ 'IXIPC-register'|l10n(lang) }}</h2>
            <div class="row mb-3">
              <form action="{{ url_for('IX_IPC.register_user', language=lang) }}" method="post">
                {{ form.csrf_token }}
                <div class="col-12 mb-3">
                  <label for="first-name" class="form-label">{{ 'IXIPC-register-first-name'|l10n(lang) }}</label>
                  <input type="text" class="form-control" id="first-name" name="first-name">
                </div>
                {# <div class="col-12 mb-3">
                  <label for="last-name" class="form-label">{{ 'IXIPC-register-last-name'|l10n(lang) }}</label>
                  <input type="text" class="form-control" id="last-name" name="last-name">
                </div> #}
                <div class="col-12 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">{{ 'IXIPC-register-submit'|l10n(lang) }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- login form -->
      <div class="col-12 col-md-6 g-3">
        <div class="card rounded-4 mb-3 h-100">
          <div class="card-body">
            <h2 class="lh-1 mb-4">{{ 'IXIPC-login'|l10n(lang) }}</h2>
            <div class="row mb-3">
              <form action="{{ url_for('IX_IPC.login', language=lang) }}" method="post">
                {{ form.csrf_token }}
                <div class="col-12 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-12 mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">{{ 'IXIPC-register-submit'|l10n(lang) }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else -%}
  <div class="text-white mb-5" id="personal-area">
    <h2 class="mb-1">{{ 'IXIPC-hi'|l10n(lang) }}, {{ g.IXIPC_user.name }}!</h2>
    <p class="lead">{{ 'IXIPC-register-to-submit-logged-in'|l10n(lang) }}</p>
  </div>

  <div class="container text-white mb-5">
    <form id="abstract-new" action="">
      {{ form.csrf_token }}
      <div class="rounded-4 card mb-3 abstract-new">
        <div class="card-body">
          <h5 class="card-title mb-0">
            <img src='data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12H15" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 9L12 15" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z" stroke="%23fff" stroke-width="2"/></svg>' alt="" style="height: 25px;">
            {{ 'IXIPC-abstract-new-abstract'|l10n(lang) }}
          </h5>
        </div>
      </div>
    </form>

    <div id="abstract-forms-container">
      {% for abstract in abstracts -%}
      <div id="abstract-{{ abstract.id }}">
        {% include "abstract-form-closed.html" -%}
      </div>
      {% endfor -%}
    </div>
    
    <div class="mb-5">
      <h4 class="mb-0">{{'IXIPC-upload-payment-proof'|l10n(lang)}}</h4>
      <img src="" alt="" id="upload-result" class="upload-result">
      {% with upload_area={'id': 'IXIPC-upload-payment-proof'} -%}
        {% include "partials/upload-form.html" -%}
      {% endwith -%}
      <p id="upload-result-text" class="lead upload-result-text">&nbsp;</p>
    </div>

    <div class="mb-5">
      <form action="{{ url_for('IX_IPC.logout', language=lang) }}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" id="user_id" name="user_id" value="{{ g.user.id }}"> 
        <button type="submit" class="btn btn-primary">{{ 'IXIPC-logout'|l10n(lang) }}</button>
      </form>  
    </div>
  </div>

  {% include "scripts/upload-form.html" -%}
  {% include "scripts/character-counter.html" -%}
  {% include "scripts/open-abstract.html" -%}
  
  <script>
    makeUploader(
      dropArea = document.getElementById('IXIPC-upload-payment-proof'),
      csrfToken = '{{ csrf_token() }}'
    );
    const addAbstract = () => {
      let id = null;
      let container = document.getElementById('abstract-forms-container');
      fetch("{{ url_for('IX_IPC.create_new_abstract', language=lang) }}", {
        method: 'POST',
        body: new FormData(document.getElementById('abstract-new'))
      })
      .then((response) => response.json())
      .then((data) => {
        const div = document.createElement('div');
        id = data['id'];
        div.id = 'abstract-' + String(id);
        div.innerHTML = data['html'];
        container.appendChild(div);
      })
      .catch((e) => console.log(e));

      const callback = (mutationList, observer) => {
        document.getElementById('abstract-' + String(id)).scrollIntoView({behavior: "smooth", block: "center"});
        observer.disconnect();
      }

      const config = { attributes: false, childList: true, subtree: false };
      const observer = new MutationObserver(callback);
      observer.observe(container, config);
    }

    document.getElementById('abstract-new').addEventListener(
      'click',
      addAbstract
    );
  </script>
  {% endif -%}
  
  <hr class="separator mb-5">  
</div>

{% if site_map -%}
<div class="site-map">
  <a href="#IXIPC-title" class="nav-link">{{ 'IXIPC-title'|l10n(lang) }}</a>
  <a href="#essential-information" class="nav-link">{{ 'IXIPC-essential-information'|l10n(lang) }}</a>
  <a href="#timeline" class="nav-link">{{ 'IXIPC-timeline'|l10n(lang) }}</a>
  <a href="#program" class="nav-link">{{ 'IXIPC-program'|l10n(lang) }}</a>
  <a href="#personal-area" class="nav-link">{{ 'IXIPC-personal-area'|l10n(lang) }}</a>
</div>
{% endif -%}

{% endblock main -%}